@model DominosCMS.Models.PhotoAlbum

@{
    ViewBag.Title = "Album : " + Model.Title;
}

@section header {
    @Html.Css("gallery.css")
    <!-- Add fancyBox main JS and CSS files -->
    @Html.Script("lib/fancybox/jquery.fancybox.js?v=2.1.0")
	@Html.Css("~/_static/js/lib/fancybox/jquery.fancybox.css?v=2.1.0", true)

	<!-- Add Button helper (this is optional) -->
    @Html.Css("~/_static/js/lib/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.3", true)
    @Html.Script("lib/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.3")

	<!-- Add Thumbnail helper (this is optional) -->
    @Html.Css("~/_static/js/lib/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.6", true)
    @Html.Script("lib/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.6")

	<!-- Add Media helper (this is optional) -->
    @Html.Script("~/_static/js/lib/fancybox/helpers/jquery.fancybox-media.js?v=1.0.3", true)

    <script type="text/javascript">
        $(function () {

            $('.fancybox').fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',

                prevEffect: 'fade',
                nextEffect: 'fade',

                closeBtn: false,

                helpers: {
                    title: {
                        type: 'inside'
                    },
                    buttons: {}
                },

                afterLoad: function () {
                    this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
                }
            });
        });
    </script>
}



<h2>@Html.ActionLink("Albums", "Index") > @Model.Title</h2>


<ul id="album">
    @foreach (var item in Model.Photos)
    {
        @showThumb(item);
    }

</ul>

@helper showThumb(DominosCMS.Models.Photo photo)
{
    string url = string.Format("{0}/{1}/{2}", System.Configuration.ConfigurationManager.AppSettings["gallery"], photo.Album.ID, photo.Filename);
    string thumb = Url.Action("Thumb", new { filename = photo.Filename, album = photo.Album.ID, height=150 });
        <li>
            <a href="@url" title="@photo.Description" class="fancybox" data-fancybox-group="thumb"><img src="@thumb" alt="@photo.Title" /></a>
        </li>
}