@using DominosCMS.Web.Helpers;

@{
    Layout = "~/Views/Shared/_TSNMaster.cshtml";
    ViewBag.Title = ViewBag.Title;
}

@section header {

    @Html.Css("customerPanel.css")

    @RenderSection("header", false)
    <script type="text/javascript">
        $(function () {
            $("#btnExit").click(function (e) {
                e.preventDefault();
                location.href = $(this).attr("data-href");
            });
        })
    </script>
}

<div>
<h2>Customer Portal</h2>
        @if (Request.Cookies["returnAccount"] != null ) {
        <span style="color: red">Impersonating as @User.Identity.Name <button id="btnExit" data-href="@Url.Action("ExitImpersonation", "Account")">Exit Impersonation</button> </span>
    } </h2> 

</div>
<ul id="nav">
    <li>@Html.ActionLink("Control Panel", "Index", "User")</li>
    <li>@Html.ActionLink("Account", "Details", "User")</li>
    <li>@Html.ActionLink("Contacts", "Index", "Contacts") </li>
    <li>@Html.ActionLink("Submittals", "Submittals", "User")</li>
    <li>@Html.ActionLink("Favorites", "Favorites", "User")</li>
    <li>@Html.ActionLink("Custom Products", "CustomProducts", "User")</li>
</ul>
<div class="clear"></div>
<div id="customerArea">
    @RenderBody()
</div>