@model IEnumerable<DominosCMS.Models.MenuItem>
 

<!-- Start css3menu.com BODY section -->
@*<ul id="css3menu1" class="topmenu">
<input type="checkbox" id="css3menu-switcher" class="switchbox"><label onclick="" class="switch" for="css3menu-switcher"></label>	<li class="topfirst"><a href="linktest" style="height:32px;line-height:32px;"><img src="/_static/css/menu/b-home-32.png" alt=""/>Home</a></li>
	<li class="topmenu"><a href="#" style="height:32px;line-height:32px;"><span><img src="/_static/css/menu/blue-tabs-32.png" alt=""/>Item 1</span></a>
	<ul>
		<li><a href="#"><span><img src="/_static/css/menu/g-micon2.png" alt=""/>Item 1 0</span></a>
		<ul>
			<li><a href="#"><img src="/_static/css/menu/blue-download-32.png" alt=""/>Item 1 0 0</a></li>
			<li><a href="#"><img src="/_static/css/menu/g-micon5.png" alt=""/>Item 1 0 1</a></li>
		</ul></li>
		<li><a href="#"><img src="/_static/css/menu/g-micon3.png" alt=""/>Item 1 3</a></li>
		<li><a href="#"><img src="/_static/css/menu/green-menu-32.png" alt=""/>Item 1 1</a></li>
		<li><a href="#"><img src="/_static/css/menu/blue-samples-32.png" alt=""/>Item 1 2</a></li>
	</ul></li>
	<li class="toplast"><a href="#" style="height:32px;line-height:32px;"><img src="/_static/css/menu/clock.png" alt=""/>Item 2</a></li>
</ul>*@
<!-- End css3menu.com BODY section -->


  <ul id="css3menu1" class="topmenu">
@*    <input type="checkbox" id="css3menu-switcher" class="switchbox">
      <label onclick="" class="switch" for="css3menu-switcher"></label>	*@
      <li class="topmenu"><a href="/site/home" style="height:80px;line-height:80px;"><img src="/_static/css/menu/b-home-32.png" alt=""/>Home</a></li>
    @foreach (var item in Model)
    {
        bool userHasAccess = false;

        if (item.IsPublic.HasValue && item.IsPublic.Value == true)
        {
            userHasAccess = true;
        }
        else if (item.IsPublic.HasValue && item.IsPublic.Value == false)
        {

            int[] UserRulesID = ViewBag.RuleID as int[];
            
            if (item.RuleID.HasValue)
            {
                foreach (int i in UserRulesID)
                {
                    if (item.RuleID.Value == i)
                    {
                        userHasAccess = true;
                        break;
                    }
                }
            }
            
            //foreach (var U in item.Users)
            //{
            //    if (U.Username.Equals(User.Identity.Name))
            //    {
            //        userHasAccess = true;
            //        break;
            //    }
            //}
            //foreach (var g in item.Groups)
            //{
            //    if (User.IsInRole(g.GroupName))
            //    {
            //        userHasAccess = true;
            //        break;
            //    }
            //}

        }



        if (userHasAccess) 
        {
        <li class="topmenu">
        @switch (item.Type)
        {
            case DominosCMS.Models.MenuType.Page:
                {
                    <a href="@Url.Action("Details", "Pages", new { url = item.Url })" class="@item.CssClass"  style="height:80px;line-height:80px;" target="@item.Target"><span>@Html.Raw(item.Title)</span></a>
                    break;
                }
            case DominosCMS.Models.MenuType.Product:
                {
                    <a href="@Url.Action("Index", "ProductsViewer", new { id = item.Url })" class="@item.CssClass" target="@item.Target"  style="height:80px;line-height:80px;"><span>@Html.Raw(item.Title)</span></a>
                    break;
                }
            case DominosCMS.Models.MenuType.External:
                {
                    <a href="@item.Url"  class="@item.CssClass" target="@item.Target"  style="height:80px;line-height:80px;"><span>@Html.Raw(item.Title)</span></a>
            

                    break;
                }
            case DominosCMS.Models.MenuType.Download:
                {
                    <a href="@Url.Action("File", "Downloads", new {id= item.Url})"  class="@item.CssClass"  style="height:80px;line-height:80px;" target="@item.Target"><span>@Html.Raw(item.Title)</span></a>
            

                    break;
                }
        }

                    @SubMenu(item)
        
        </li>
    }
    }
@if (User.IsInRole("admin"))
{
    <li>
        @Html.ActionLink("Admin", "Index", "Home", new { Area = "admin" }, new { @class = "menu-admin", style="height:80px;line-height:80px;"})
        <ul>
            <li>@Html.ActionLink("Pages", "Index", "Pages", new { Area = "admin"}, null)</li>
            @*<li>@Html.ActionLink("Products", "Index", "Products", new { Area = "admin"}, null)</li>
            <li>@Html.ActionLink("Custom Products", "Custom", "Products", new { Area = "admin"}, null)</li>
            <li>@Html.ActionLink("Reports", "Index", "Reports", new { Area = "admin"}, null)</li>*@
            <li>@Html.ActionLink("Site Menu", "Index", "SiteMenu", new { Area = "admin"}, null)</li>
@*            <li>@Html.ActionLink("Manage Users", "Index", "ManageUsers", new { Area = "admin"}, null)</li>*@
            <li> @Html.ActionLink("Manage Users", "../Areas/Admin/ManageUsers/ManageUsers.aspx","Manage Users",  new { @class = "fancybox", data_fancybox_type="iframe" }) </li>

           @* <li>@Html.ActionLink("Users", "Index", "Members", new { Area = "admin"}, null)</li>
            <li>@Html.ActionLink("Inquiries", "Index", "Inquiries", new { Area = "admin"}, null)</li>
            <li>@Html.ActionLink("Opt-Out Requests", "OptOuts", "Inquiries", new { Area = "admin"}, null)</li>*@
            <li>@Html.ActionLink("File Manager", "Index", "FileManager", null, new { @class = "fancybox", data_fancybox_type="iframe" } )</li>
            <li>@Html.ActionLink("Social Media", "Index", "Config", new { Area = "admin"}, null)</li>
        </ul>
    </li> 
}
  </ul>

@helper SubMenu(DominosCMS.Models.MenuItem item)
    {
    
        if (item.SubMenus != null && item.SubMenus.Count > 0)
        {
        <ul>

            @foreach (var subItem in item.SubMenus.OrderBy(x => x.ViewOrder))
            {

                bool userHasAccess = false;

                if (subItem.IsPublic.HasValue && subItem.IsPublic.Value == true)
                {
                    userHasAccess = true;
                }
                else if (subItem.IsPublic.HasValue && subItem.IsPublic.Value == false)
                {
                    int[] UserRulesID = ViewBag.RuleID as int[];

                    if (subItem.RuleID.HasValue)
                    {
                        foreach (int i in UserRulesID)
                        {
                            if (subItem.RuleID.Value == i)
                            {
                                userHasAccess = true;
                                break;
                            }
                        }
                    }
                    
                    //foreach (var U in subItem.Users)
                    //{
                    //    //////////////////////////////////////////
                    //    if (U.Username.Equals(User.Identity.Name))
                    //    {
                    //        userHasAccess = true;
                    //        break;
                    //    }
                    //}
                    //foreach (var g in subItem.Groups)
                    //{
                    //    if (User.IsInRole(g.GroupName))
                    //    {
                    //        userHasAccess = true;
                    //        break;
                    //    }
                    //}

                }


                if (userHasAccess) 
             {
                var className = subItem.CssClass;
                
                if (subItem.SubMenus != null && subItem.SubMenus.Count > 0) {
                    className = className + " parent-menu";
                }
                <li class="@className">

                    @switch (subItem.Type)
                    {
                        case DominosCMS.Models.MenuType.Page:
                            {
                                <a href="@Url.Action("Details", "Pages", new { url = subItem.Url })" target="@subItem.Target">@Html.Raw(subItem.Title)</a>

                                break;
                            }
                        case DominosCMS.Models.MenuType.Product:
                            {
                                <a href="@Url.Action("Index", "ProductsViewer", new { id = subItem.Url })" target="@subItem.Target">@Html.Raw(subItem.Title)</a>
                                break;
                            }
                        case DominosCMS.Models.MenuType.External:
                            {
                                <a href="@subItem.Url" target="@subItem.Target">@Html.Raw(subItem.Title)</a>
            

                                break;
                            }
                        case DominosCMS.Models.MenuType.Download:
                            {
                                <a href="@Url.Action("File", "Downloads", new {id= subItem.Url})" target="@subItem.Target">@Html.Raw(subItem.Title)</a>
            
                                break;
                            }
                    }

                    @SubMenu(subItem)
                </li>
            }
            }
        </ul>
        }
  
}
