@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Css("themes/base/jquery.ui.all.css")
    @Html.Css("popup.css")
    @Html.Css("forms.css")
    @RenderSection("styles", false)
    
    @Html.Script("jquery-1.7.1.min.js")
    @Html.Script("jquery-ui-1.8.11.min.js")
    @Html.Script("jquery.unobtrusive-ajax.min.js")
    @Html.Script("jquery.validate.min.js")
    @Html.Script("jquery.validate.unobtrusive.min.js")
    @Html.Script("tiny_mce/jquery.tinymce.js")
    @Html.Script("admin.js")
    @RenderSection("scripts", false)
    
    @RenderSection("header", false)
</head>
<body>
    <div id="wrapper">
        @RenderBody()
    </div>
</body>
</html>
