@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Html.Css("main.css")
    @Html.Css("menu/style.css") 
    
    @RenderSection("header", false)
    
    @Html.Script("jquery-1.7.1.min.js")
    @Html.Script("site_menu.js")
    @Html.Script("searchbox.js")
    @Html.Script("shared.js")

@*    <script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>*@

    <!-- Add fancyBox main JS and CSS files -->
    @Html.Script("lib/fancybox/jquery.fancybox.js?v=2.1.0")
	@Html.Css(Url.Content("~/_static/js/lib/fancybox/jquery.fancybox.css?v=2.1.0"), true)


    <script type="text/javascript">
        $(function () {
            //console.log($('.fancybox'));
            $('a.fancybox').fancybox({
                maxWidth: 1024,
                maxHeight: 800,
                fitToView: false,
                width: '85%',
                height: '95%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        });
    </script>


    @RenderSection("scripts", false)



</head>

<body>
@if (User.IsInRole("admin"))
{

@*<div id="adminPanel">
    @Html.ActionLink("Home", "Index", "Home", new { area = "Admin"}, null) |
    @Html.ActionLink("Pages", "Index", "Pages", new { area = "Admin"}, null) |
    @Html.ActionLink("Products", "Index", "Products", new { area = "Admin"}, null) |
    @Html.ActionLink("Site Menu", "Index", "SiteMenu", new { area = "Admin"}, null) |
    @Html.ActionLink("Change Password", "ChangePassword", "Account") |
    @Html.ActionLink("Log out", "LogOff", "Account") 

    <div id="PanelSlider">
        Control Panel

    </div>
</div>*@
}

<div id="container">
<div id="login-bar">
@{ Html.RenderPartial("LogOnUserControl"); }
</div>
  <div id="headerWrapper">
  <div id="header">
      <div id="logoArea">
          <a href="/"></a>
      </div>
<div id="menubar">
      @{ Html.RenderAction("SiteMenu", "SiteMenu", new { area = ""}); }

  


</div>
  </div>
    <!-- end #header -->
  </div>
  
  <div id="mainContent">
              @if (IsSectionDefined("actions")) {
        <div id="actionsBar">
            @RenderSection("actions", false)
        </div>
        }
@RenderBody()

      <div class="clear"></div>
   <div id="socialLinks">
               @{ Html.RenderAction("Social", "SiteMenu", new { area = "" }); }

      </div>

  </div>
  <div id="FooterWrapper">
  <div id="footer">
@*    <span id="links">@Html.ActionLink("Home", "index","Home") | <a href="/site/about">About us</a> | 
    @Html.ActionLink("Policies", "Details", "Pages", new { url = "Policies"}, null) | 
    <a href="/Contact">Contact us</a> |
    @Html.ActionLink("Sitemap", "Details", "Pages", new { url = "sitemap"}, null) 
    
    </span>*@<p align="right"> © @DateTime.Now.Year The Steel Network, Inc. </p>
  <!-- end #footer --></div>
  </div>
<!-- end #container --></div>
</body>
</html>

