@if (User.Identity.IsAuthenticated) {

        <span>Hi <b> @Html.Encode(User.Identity.Name) </b>
      @*  @Html.ActionLink("Customer Portal", "Index", "User", new { area = ""}, new { @class = "wide" })*@
        [ @Html.ActionLink("Log Off", "LogOff", "Account", new { area = ""}, null)]</span>

    }
    else {
    
        <span>
             @Html.ActionLink("Login", "LogOn", "Account") |  @Html.ActionLink("Register", "Register", "Account")
        </span>
}
