@model IEnumerable<DominosCMS.Models.Account>

@{
    ViewBag.Title = "Members list";
}

@section header {
    @Html.Css("tablesorter/themes/blue/style.css")
    <style type="text/css">
        div.search-form label { padding: 8px 15px; font-weight: bold; }
        div.search-form input[type=text] { padding: 8px 15px }
        div.search-form  { margin-bottom: 15px }
    </style>
}


@section scripts {
    @Html.Script("tablesorter/jquery.tablesorter.min.js")
    @Html.Script("tablesorter/jquery.metadata.js")

    <script type="text/javascript">

        $(function () {
            $("div.search-form form").submit(function (e) {
                e.preventDefault();

                if ($("#term").val() == "") {
                    alert("Please enter some text to search");
                    return;
                }

                var url = $(this).attr("action");

                $("<span class='spinner' />").insertAfter($("#submitBtn"));
                $("table.list").css({ opacity: 0.5 });

                $.post(url, $(this).serialize(), function (data) {
                    $("#membersList").html(data);
                    $("span.spinner").remove();
                });
            });

            $("table.tablesorter").tablesorter();

        });

    </script>    
}
@section actions {
    
    <div class="actions-toolbar">
        <ul>
            <li>
                <a class="various" href="@Url.Action("Create")" title="Add new product">
                    <img src="@Url.Content("~/_static/images/icons/new.png")" alt="Add new product" />
                </a>
            </li>
        </ul>
    </div>
    <div class="actions-title">
        <h2>Members List</h2>
    </div>
        
}
    <div class="search-form">
    @using (Html.BeginForm())
    {
        <label for="term">Search</label>
        @Html.TextBox("term")
        <input type="submit" value="Search" id="submitBtn" /> 
        <a href="@Url.Action("Index")" >Cancel</a>
    }

    </div>

<div id="membersList">
@{ Html.RenderPartial("_MembersList", Model); }

    </div>