@{
    ViewBag.Title = "ForgotPassword";
}

@section header {
    @Html.Css("forms.css")
    <style type="text/css">
        #mainContent input[type=text] { width: 40%; padding: 5px; color: blue; font-size: 12px;}
    </style>
    @Html.Script("jquery.validate.min.js")
    <script type="text/javascript">
        $(function () {
            // validate signup form on keyup and submit
            $("#mainContent form").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    email: { required: "Please enter your email", email: "Please enter a valid email address" },
                }
            });
        });
    </script>
}


<h2>Forgot Password</h2>
<p>
    Please enter the email address you submitted while registration then click the 'Send me my password' button
</p>

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Forgot password</legend>

            <div class="editor-label">
                @Html.Label("email", "Email")
            </div>
            <div class="editor-field">
                @Html.TextBox("email")
                @Html.ValidationMessage("email")
            </div>

            <p>
                <input type="submit" value="Send me my password" />
            </p>
        </fieldset>
    </div>
}
