@model DominosCMS.Web.Models.LogOnModel

@{
    ViewBag.Title = @DominosCMS.Resources.Labels.LogOn;
}

@section header {
    @Html.Css("forms.css")
    @Html.Script("jquery.validate.min.js")
    @Html.Script("jquery.validate.unobtrusive.min.js")

    <style type="text/css">
        #mainContent  input[type=text], #mainContent  input[type=password] {
            width: 50%;
            padding: 10px;
        }
    </style>
}
<h2>@DominosCMS.Resources.Labels.LogOn</h2>
<p>
    @DominosCMS.Resources.Labels.EnterPassword </p>
     <p>@DominosCMS.Resources.Labels.EnterPassword2 
    @Html.ActionLink("click here", "Register")  to register now.
</p>


@Html.ValidationSummary(true, DominosCMS.Resources.Labels.LoginError)

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>@DominosCMS.Resources.Labels.AccountInformation</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName, "User Name")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="@DominosCMS.Resources.Labels.LogOn" />
            </p>
        </fieldset>
    </div>
}

<p>Forgot password? @Html.ActionLink("Click here", "ForgotPassword")</p>
