@model DominosCMS.Web.Models.RegistrationModel

@{
    ViewBag.Title = "Register";
}

@section header {
    @Html.Css("forms.css")
    @Html.Script("jquery.validate.min.js")
    @Html.Script("jquery.validate.unobtrusive.min.js")
    @Html.Script("jquery.watermark.min.js")
    @Html.Script("lib/jquery.meio.mask.min.js")
    <script type="text/javascript">

        $(function () {
            $("input.watermark").each(function () {
                var wm = $(this).attr("data-watermark-text");

                $(this).watermark(wm);
            });



            $("#Company_Type").change(function () {
                var type = $(this).val();

                if (type == "Other") {
                    $("#OtherType").removeAttr("disabled");
                }
                else {
                    $("#OtherType").val("");
                    $("#OtherType").attr("disabled", "disabled");
                }
            });

            $("#mainContent form").submit(function () {
                if (!$("#AcceptTerms").is(":checked")) {
                    $("#acceptLable").addClass("input-validation-error");
                    $("<div class='error-message'>You must accept our terms and conditions to continue.</div>").insertAfter($("#acceptLable"));
                    return false;
                } else
                    $("#acceptLable").removeClass("input-validation-error");
                
            })


            $("input.mask").setMask();

        });
    </script>   

    <style type="text/css">
        .error-message
        {
            color: red;
            margin-top: 5px;
        }

        .long-input { width: 400px;}
    </style>
}

<h2>Create a New Account</h2>
<p>
    Use the form below to create a new account. 
</p>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { autocomplete = "Off", enctype = "multipart/form-data" }))
{
    @*@Html.ValidationSummary(false, "Account creation was unsuccessful. Please correct the errors and try again.")*@
        <div>
            <fieldset>
                <legend>Account information</legend>
                <div class="editor-label">
                    <span style="color:red;">*</span>
                    @Html.LabelFor(m => m.Email)
                </div>
                 <div class="editor-field">
                    <span style="float: right; width: 200px; width: 282px; margin-right: 130px;">An email confirmation will be sent to this address before your account is activated.</span>
                     @Html.TextBoxFor(m => m.Email, new { @class = "long-input"}) <br />
                    

                </div>
                @Html.ValidationMessageFor(m => m.Email)
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmEmail)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "long-input"})
                    
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmEmail)
                <div class="editor-label">
                    <span style="color:red;">*</span>
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password)
                    
                </div>
                @Html.ValidationMessageFor(m => m.Password)
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                   
                </div>    
                @Html.ValidationMessageFor(m => m.ConfirmPassword)       
                <div class="editor-field">
                  @*  @Html.EditorFor(m => m.Company.RecieveEmails)
                    @Html.LabelFor(m => m.Company.RecieveEmails) <br />*@

                    <label id="acceptLable">
                        @Html.CheckBoxFor(m => m.AcceptTerms)
                        I accept the <a href="@Url.Action("Details", "Pages", new { url = "terms-and-conditions"})" target="_blank">terms and conditions</a>
                    </label>
                </div>
                <div class="editor-field">
                </div>

            </fieldset>

            <p>
                <input type="submit" value="Register" />
            </p>
    </div>
}
