@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Css("admin.css")

    @RenderSection("header", false)

    @Html.Script("jquery-1.7.1.min.js")
    @Html.Script("jquery-ui-1.8.11.min.js")
    @Html.Script("tiny_mce/jquery.tinymce.js")
    @Html.Script("admin.js")
    <!-- Add fancyBox main JS and CSS files -->
    @Html.Script("lib/fancybox/jquery.fancybox.js?v=2.1.0")
	@Html.Css(Url.Content("~/_static/js/lib/fancybox/jquery.fancybox.css?v=2.1.0"), true)


    <script type="text/javascript">
        $(function () {
            //console.log($('.fancybox'));
            $('a.fancybox').fancybox({
                maxWidth: 1024,
                maxHeight: 800,
                fitToView: false,
                width: '85%',
                height: '95%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        });
    </script>


    @RenderSection("scripts", false)
</head>
<body>
    <div id="wrapper">
        <div id="header">
@*            <p class="title">
                Control Panel
            </p>*@
        </div>
        <div id="menu">
            <div id="status">
                
                   @Html.ActionLink("Open website", "Index", "Home", new {  area = ""}, new {  target="_blank"}) 
                 | @Html.ActionLink("Log out", "LogOff", "Account", new { area = "" }, null)

                
            </div>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Pages", "Index", "Pages")</li>
                <li>@Html.ActionLink("Products", "Index", "Products")</li>
                <li>@Html.ActionLink("Site Menu", "Index", "SiteMenu")</li>
                <li>@Html.ActionLink("Members", "Index", "Members")</li>
                <li>@Html.ActionLink("Downloads", "Index", "Downloads")</li>
                <li>@Html.ActionLink("Inquiries", "Index", "Inquiries")</li>
                <li>@Html.ActionLink("File Manager", "Index", "FileManager", new { Area = ""}, new { @class = "fancybox", data_fancybox_type = "iframe" })</li>
                <li>@Html.ActionLink("Settings", "Index", "Config")</li>
            </ul>
        </div>
        @if (IsSectionDefined("actions")) {
        <div id="actionsBar">
            @RenderSection("actions", false)
        </div>
        }

        <div id="contents">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        Steel Network CMS 2.0
    </div>
</body>
</html>
