@model DominosCMS.Web.Models.ContactModel

@{
    ViewBag.Title = Model.PageTitle;
    
}

@section header {
    @Html.Css("forms.css")
    @Html.Script("jquery.validate.min.js")
    @Html.Script("jquery.validate.unobtrusive.min.js")
    <style type="text/css">
        #mainContent td {
        font-size: 12px; 
        color: gray;
       }
        
        th {text-align: left; font-size: 12px; vertical-align: middle}
        .display-label, 
        .editor-label {
            margin: 1em 0 0 0;
            font-weight: bold;
            color: #000;
            margin-bottom: 5px;
        }
        
        #mainContent input[type='text']
        {
            font-size: 14px;
            color: Gray;

        }

        </style>

}

    <h2>Contact us</h2>
    <div class="contact-sidebar">
        @Model.PageContents 

    </div>
    <p>Thank you for your interest in The Steel Network. Please fill in the form below for further information or technical support</p>
    <div>
   @using (Html.BeginForm()) {
       Html.ValidationSummary(true);

        <fieldset>
            <legend>Contact form</legend>
            <table style="width: 100%">
                <tr>
                    <td style="width: 50%">
                       <div class="editor-label">
                            @Html.LabelFor(model => model.FirstName)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.FirstName)
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    
                    </td>
                    <td style="width: 50%">
                         <div class="editor-label">
                            @Html.LabelFor(model => model.LastName)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.LastName)
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                   
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Phone)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Phone)
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </td>
                    <td style="width: 50%">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </td>
                
                </tr>
                <tr>
                    <td style="width: 50%">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Company)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Company)
                            @Html.ValidationMessageFor(model => model.Company)
                        </div>
                    </td>
                    <td style="width: 50%">
                    </td>
                
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Country) 
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.Country, new SelectList(Model.Countries, "Key", "Value"))
                            @Html.ValidationMessageFor(model => model.Country)
                        </div>

                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.State) 
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.State, new SelectList(Model.States, "Key", "Value"))
                            @Html.ValidationMessageFor(model => model.State)
                        </div>

                    </td>
                </tr>
                <tr>
                    <td style="width: 50%">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OperatingSystem)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.OperatingSystem)
                            @Html.ValidationMessageFor(model => model.OperatingSystem)
                        </div>
                    </td>
                    <td style="width: 50%">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Hardware)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Hardware)
                            @Html.ValidationMessageFor(model => model.Hardware)
                        </div>
                    </td>
                
                </tr>
                <tr>
                    <td  colspan="2">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Subject)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Subject, new { style="width: 85%" })
                            @Html.ValidationMessageFor(model => model.Subject)
                        </div>
                    </td>
                
                </tr>
                <tr>
                    <td  colspan="2">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.QueryDetails)
                        </div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.QueryDetails, new { style = "width: 85%", rows="10" })
                            @Html.ValidationMessageFor(model => model.QueryDetails)
                        </div>
                    </td>
                
                </tr>

                <tr>
                    <td  colspan="2">
                        <div class="editor-label">
                            Type the characters you see in the picture below
                        </div>
                        <div class="editor-field">
                            <div style="margin-bottom: 10px;">@Html.Captcha("myCaptcha")  </div>
                            @Html.TextBoxFor(model => model.Attempt)
                            @Html.ValidationMessageFor(model => model.Attempt)

                        </div>
                    </td>
                
                </tr>

            </table>
            
        </fieldset>

            <p>
                <input type="submit" value="Submit" />
            </p>
    } 
    </div>



<div class="clear"></div>

