@model DominosCMS.Web.Models.FireRatedModel
@{
    ViewBag.Title = "Fire Rated";
}

@section header {
    @Html.Css("fire-rated.css")
    <!-- Add fancyBox main JS and CSS files -->
    @Html.Script("lib/fancybox/jquery.fancybox.js?v=2.1.0")
    @Html.Css(@Url.Content("~/_static/js/lib/fancybox/jquery.fancybox.css?v=2.1.0"), true)
    @Html.Script("fire_rated.js")
}

<p><a href="http://database.ul.com/cgi-bin/XYV/template/LISEXT/1FRAME/showpage.html?name=XHLI.R19248&ccnshorttitle=Light+Gauge+Framing&objid=1074809002&cfgid=1073741824&version=versionless&parent_id=1073995622&sequence=1">TSN UL2079 Classification Listing 
</a>
    <br />
    <a href="http://database.ul.com/cgi-bin/XYV/template/LISEXT/1FRAME/showpage.html?name=XHLI7.R19248&ccnshorttitle=Light+Gauge+Framing+Certified+for+Canada&objid=1075088557&cfgid=1073741824&version=versionless&parent_id=1073995624&sequence=1">TSN Canada UL Classification   </a>
    </p>
    @using (Html.BeginForm())
       { 

            <table border="0" style="border: none;" cellpadding="3">
                <tr>
                    <td>
                        <div class="editor-label">
                            Select Floor System
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.FloorSystems, new SelectList(Model.FloorSystems, "Key", "Value"))
                        </div>
                    
                    </td>
                    <td>
                        <div class="editor-label">
                            Firestopping Method

                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.FireStoppingMethods, new SelectList(Model.FireStoppingMethods, "Key", "Value"))
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            Joint width?

                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.JointWidths, new SelectList(Model.JointWidths, "Key", "Value"))
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            Maximum deflection amount 

                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.MaximumDeflectionAmounts, new SelectList(Model.MaximumDeflectionAmounts, "Key", "Value"))
                        </div>
                    </td>
                    <td >
                        <input id="Button1" type="submit" value="GO" />
                    </td>
                </tr>
            </table>

    } 
    <div style="height: 25px;">
    
        <img alt="" id="loader" src='@Url.Content("~/_static/images/loader2.gif")' style="display: none" /></div>
    <div id="frList">
    
    </div>