@model DominosCMS.Models.Page
@using DominosCMS.Web.Helpers;

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_TSNMaster.cshtml";
}

@section header {
	<meta http-equiv="discription" content="@Model.Description" />
    <meta http-equiv="keywords" content="@Model.Keywords" />

    @Html.Css("~/_static/js/lib/flexslider/flexslider.css", true)
    @Html.Script("lib/flexslider/jquery.flexslider-min.js")

    <script type="text/javascript">

        $(function () {
            $('.flexslider').flexslider({
                animation: "slide"
            });
        });
    </script>
}
@* <div class="flexslider">
    <ul class="slides">
        <li><img src="/_static/images/temp/Catalogs_Banner.jpg" alt="" /></li>
        <li><img src="/_static/images/temp/TSN_StiffWall_Banner.jpg" alt="" /></li>
    </ul>
</div>
 <ul class="bxslider">
    <li>
      <img src="/_static/images/temp/1.jpg" />
    </li>
    <li>
      <img src="/_static/images/temp/2.jpg" />
    </li>
  </ul>*@

<div>
    @Html.Raw(Model.Contents)

</div>



    <div class="clear"></div>

@if (User.IsInRole("admin") || User.IsInRole("canedit")) {
    @Html.ActionLink("Edit", "Edit", "Pages", new { area = "admin", id = Model.ID }, new { @class="fancybox", data_fancybox_type="iframe"})
}
