@model DominosCMS.Models.NewsItem

@{
    ViewBag.Title = "Create";
}

@section header 
{
    @Html.Css("forms.css")

    @Html.Script("jquery.unobtrusive-ajax.min.js")
    @Html.Script("jquery.validate.min.js")
    @Html.Script("jquery.validate.unobtrusive.min.js")
    @Html.Script("jquery-ui-1.8.11.min.js")
    @Html.Script("admin.js")
    @Html.Script("tiny_mce/jquery.tinymce.js")

}

<h2>Create</h2>


 <form action="" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true)


     		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
