@model DominosCMS.Models.NewsItem

@{
    ViewBag.Title = "Edit";
}

@section header 
{
    @Html.Css("forms.css")

}
@section scripts 
{

    @Html.Script("jquery.validate.min.js")
    @Html.Script("jquery.validate.unobtrusive.min.js")
    @Html.Script("jquery-ui-1.8.11.min.js")
}

<h2>Edit News</h2>


 <form action="" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>News Item</legend>

        @Html.HiddenFor(model => model.ID)

     		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
