@model IEnumerable<DominosCMS.Models.NewsItem>

@{
    ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("Admin", "Admin", "Home") > News</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="list">
    <tr>
        <th>
            Title
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="actions">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
