@model IEnumerable<DominosCMS.Models.Report>

@{
    ViewBag.Title = "Reports Manager";
}


@section header {
    @Html.Css("tablesorter/themes/blue/style.css")
}
@section scripts {
    @Html.Script("tablesorter/jquery.tablesorter.min.js")
    @Html.Script("tablesorter/jquery.metadata.js")

    <script type="text/javascript">
        $(function () {
            $("table.tablesorter").tablesorter();
        })
    </script>
    }


@section actions {
    
    <div class="actions-toolbar">
        <ul>
            <li>
                <a class="various" href="@Url.Action("Create")" title="Add report">
                    <img src="@Url.Content("~/_static/images/icons/new.png")" alt="Add report" />
                </a>
            </li>
        </ul>
    </div>
    <div class="actions-title">
        <h2>Reports</h2>
    </div>
        
}

<table class="tablesorter">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Group Name
        </th>
        <th>
            View Order
        </th>
        <th>
            Filename
        </th>
        <th>
            Published
        </th>
        <th></th>
    </tr>
</thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewOrder)
        </td>
        <td>
            @Html.ActionLink(item.Filename, "Download", new { id = item.ID }, new { target="_blank"})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
       
	<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
            @Html.ActionLink("Delete", "Delete",new { id = item.ID }, new { @class = "delete-link" }) 
        </td>
    </tr>
}
</tbody>
</table>
