@model IList<DominosCMS.Models.CustomProduct>


@{
    ViewBag.Title = "CustomProducts";
}
@section header {
    
    <style type="text/css">
        button {
            margin: 3px;
        }
    </style>

    @Html.Script("custom_products.js")
    @Html.Css("tablesorter/themes/blue/style.css")
    @Html.Script("tablesorter/jquery.tablesorter.min.js")
    @Html.Script("tablesorter/jquery.metadata.js")

    <script type="text/javascript">
        $(function () {
            $("table.tablesorter").tablesorter();

            $("#addNew").click(function (e) {
                e.preventDefault();
                location.href = '@Url.Action("AddCustom")';
            });
            $("#RequestCustom").click(function (e) {
                e.preventDefault();
                location.href = '@Url.Action("RequestCustom")';
            });
        });

    </script>
}

<h2>Custom Products 
        <button id="RequestCustom">Request a Custom</button> 
    @if (Request.Cookies["returnAccount"] != null || User.IsInRole("admin")) {
        <button id="addNew">Add New</button> 
    } </h2> 
<div id="customProducts">

@{ Html.RenderPartial("_CustomProducts", Model); }
    </div>

