@model DominosCMS.Models.Account

@{
    ViewBag.Title = "Account Details";

    var logo = ViewBag.Logo as string;
}

@section header {
    
    <style type="text/css">
        #frm-data
        {
            float: left;
            width: 60%;
        }

        #logo
        {
            float: right;
            width: 35%;
            text-align: center;
        }

        table.frm th { 
            background-color: transparent; 
            color: #000;
            border: solid 1px #e8eef4;
        }

    </style>

    <script type="text/javascript">
        $(function () {

            $(".btn-action").click(function (e) {
                e.preventDefault();

                location.href = $(this).attr("data-href");
            });
        });
    </script>
}

<h2>Account Details</h2>

<div id="frm-data">
    <table class="frm">
        <tr>
            <th>Type</th>
            <td>@Util.GetAccountCompanyTypeView(Model.Company.Type)</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@Model.Company.FirstName 
                @Model.Company.MiddleInitial 
                @Model.Company.LastName
            </td>
        </tr>
        <tr>
            <th>Company</th>
            <td>@Model.Company.CompanyName</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>@Util.GetAccountPhoneView(Model.Company.Phone)</td>
        </tr>
        <tr>
            <th>Fax</th>
            <td>@Util.GetAccountPhoneView(Model.Company.Fax)</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@Model.Company.Address <br />
                @Model.Company.Address2
            </td>
        </tr>
        <tr>
            <th>City</th>
            <td>@Model.Company.City</td>
        </tr>
        <tr>
            <th>State</th>
            <td>@Model.Company.State</td>
        </tr>
        <tr>
            <th>Zip Code</th>
            <td>@Model.Company.ZipCode</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
    </table>
</div>
<div id="logo">
          <fieldset>

              <legend>Company Logo</legend>

              <img src="@ViewBag.Logo" id="productImage" style="max-width: 290px" /><br />
              
              
          </fieldset>
    
</div>
<div class="clear"></div>
<p>

<button class="btn-action" data-href="/User/EditAccount">Edit my account</button>
    
    </p>



