@model DominosCMS.Models.Company

@{
    ViewBag.Title = "Account Details";
    var types = ViewBag.Types as IList<string>;
    string otherType = ViewBag.OtherType as string;

    //var companyTypes = ViewBag.CompanyTypes as Dictionary<string, string>;

    //var listTypes = new SelectList((IEnumerable<SelectListItem>)ViewBag.CompanyTypes, "4");
    //var selectList = Util.GetAccountCompanySelectList("");
}

@section header {
    @Html.Script("jquery.watermark.min.js")
    @Html.Script("lib/jquery.meio.mask.min.js")
    <style type="text/css">
        button {
            margin: 0 5px;
        }
    </style>

    <script type="text/javascript">

        $(function () {

            $(".btn-action").click(function (e) {
                e.preventDefault();

                location.href = $(this).attr("data-href");
            });

            //$("#btnBrowse").click(function (e) {
            //    e.preventDefault();


            //    $("#company_logo").trigger('click');
            //});

            $("input.watermark").each(function () {
                var wm = $(this).attr("data-watermark-text");

                $(this).watermark(wm);
            });

            if ($("#Type").val() == "Other") {
                $("#OtherType").removeAttr("disabled");
            }

            $("#Type").change(function () {
                var type = $(this).val();
                if (type == "Other") {
                    $("#OtherType").removeAttr("disabled");
                }
                else {
                    $("#OtherType").val("");
                    $("#OtherType").attr("disabled", "disabled");
                }
            });

            $("#btnResetPass").click(function (e) {
                e.preventDefault();

                var old = $("#old").val();
                var newpass = $("#NewPassword").val();
                var confirmpass = $("#ConfirmPassword").val();

                if (old == '') {
                    alert("Please enter the current password.");
                    $("#old").focus();
                    return;
                }

                if (newpass == '') {
                    alert("Please enter the new password.");
                    $("#NewPassword").focus();
                    return;
                }

                if (confirmpass == '') {
                    alert("Please confirm the new password.");
                    $("#ConfirmPassword").focus();
                    return;
                }

                if (newpass != confirmpass)
                {
                    alert("The new and confirm password don't match.");
                    $("#ConfirmPassword").focus();
                    return;
                }

                var url = "@Url.Action("ResetPass")";

                $($("<span id='loadingMarker' />").text("PLEASE WAIT...")).insertAfter($(this));

                $.post(url, { "newpass": newpass, oldpass: old }, function (data) {
                    alert(data.message);

                    if (data.success) {
                        $("#old").val("");
                        $("#NewPassword").val("");
                        $("#ConfirmPassword").val("");
                    }

                    $("#loadingMarker").remove();

                });
            });

            $("#deleteLogo").click(function (e) {
                e.preventDefault();
                if (confirm("Are you sure you want to delete the company logo?"))
                    location.href = "@Url.Action("RemoveLogo")";
            });

            $("input.mask").setMask();

        });
    </script>  
    <style type="text/css">
        #frm-data
        {
            float: left;
            width: 60%;
        }

        #logo
        {
            float: right;
            width: 35%;
            text-align: center;
        }

        .frm {
            table-layout:fixed;
            border:0px !important;
            border-style:hidden;
        }

        .frm td {
            border:0px !important;
        }

        .frm input {
            width:125px !important;
        }

        .frm  input.mask { width: 125px !important;}
        .w125 { width:125px !important; }
        .italic-tex { font-style: italic; }
        .likeabutton {
            text-decoration: none; font: menu;
            display: inline-block; padding: 2px 8px;
            background: ButtonFace; color: ButtonText;
            border-style: solid; border-width: 2px;
            border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
        }
        .likeabutton:active {
            border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
        }
    </style>
}

<h2>Account Details</h2>
@using (Html.BeginForm("EditAccount", "User", FormMethod.Post, new { autocomplete = "Off", enctype = "multipart/form-data" }))
{
    @*@Html.ValidationSummary(false, "Account update was unsuccessful. Please correct the errors and try again.")*@
<div id="frm-data">
    <table cellspacing="0" cellpadding="0" class="frm">
        <tr>
            <td style="width:5px; color:red;">*</td>
            <td style="width:101px;">Type</td>
            <td style="width:128px;">
                @Html.DropDownListFor(model => model.Type, new SelectList(types), new { @class="w125"})
                @* @Html.DropDownList("CompanyTypes", Util.GetAccountCompanySelectList(Model.Type)) (IEnumerable<SelectListItem>)ViewBag.CompanyTypes) *@
           </td>
            <td colspan="2" style="width:266px;">@Html.TextBox("OtherType", otherType, new { @class = "watermark", data_watermark_text = "If Other, specify", disabled = "disabled", style = "width: 250px !important;" }) 
                @Html.ValidationMessage("otherType")
            </td>
        </tr>
        <tr>
            <td style="width:5px; color:red;">*</td>
            <td>@Html.LabelFor(m => m.FirstName)</td>
            <td>@Html.TextBoxFor(m => m.FirstName,  new { style="width:125px !important"}) 
                @Html.ValidationMessageFor(m => m.FirstName)
            </td>
            <td colspan="3">@Html.TextBoxFor(m => m.MiddleInitial, new { style = "width: 20px !important;" }) 
                @Html.TextBoxFor(m => m.LastName, new { style = "width: 219px !important;" }) </td>
        </tr>
        <tr>
            <td> </td>
            <td>@Html.LabelFor(m => m.CompanyName)</td>
            <td colspan="4">@Html.TextBoxFor(m => m.CompanyName, new { style = "width: 387px !important;" })</td>
        </tr>
        <tr>
            <td style="width:5px; color:red;">*</td>
            <td>Phone</td>
            <td colspan="3">@Html.TextBoxFor(m => m.Phone, new { alt="phone-us", @class = "mask"} )  <span class="italic-tex">Ex: (999) 999-9999</span>
                @Html.ValidationMessageFor(m => m.Phone)
           </td> 
        </tr>
        <tr>
            <td> </td>
            <td>Fax</td>
            <td colspan="3">
                @Html.TextBoxFor(m => m.Fax, new { alt="phone-us", @class = "mask"} )  <span class="italic-tex">Ex: (999) 999-9999</span>
            </td>
        </tr>
        <tr>
            <td style="width:5px; color:red;">*</td>
            <td>Address</td>
            <td colspan="4">@Html.TextBoxFor(m => m.Address, new { style = "width: 387px !important;" })
                            @Html.ValidationMessageFor(m => m.Address)
            </td>
        </tr>
        <tr>
            <td> </td>
            <td></td>
            <td colspan="4">@Html.TextBoxFor(m => m.Address2, new { style = "width: 387px !important;" })</td>
        </tr>
        <tr>
            <td> </td>
            <td></td>
            <td>@Html.EditorFor(m => m.City)</td>
            <td>@Html.EditorFor(m => m.State)</td>
            <td>@Html.EditorFor(m => m.ZipCode)</td>
        </tr>
        <tr>
            <td colspan="5">
                <h3>Password</h3>
            </td>
        </tr>
        <tr>
            <td> </td>
            <td>@Html.Label("old", "Old")</td>
            <td colspan="2">@Html.Password("old", null, new { @class = "w125"})</td>
            <td></td>
        </tr>
        <tr>
            <td> </td>
            <td>@Html.Label("NewPassword", "New")</td>
            <td colspan="2">@Html.Password("NewPassword")</td>
            <td></td>
        </tr>
        <tr>
            <td> </td>
            <td>@Html.Label("ConfirmPassword", "Re-Enter New")</td>
            <td colspan="3">@Html.Password("ConfirmPassword", null, new { style = "margin-right: 5px;"})<button id="btnResetPass">Reset Password</button></td>
            
        </tr>
    </table>
</div>
<div id="logo">
          <fieldset>

              <legend>Company Logo</legend>

              <img src="@ViewBag.Logo" id="productImage" style="max-width: 290px" /><br />
              <div style="margin-top: 15px;">
              <input value="Upload File" type="file" name="company_logo" id="company_logo" style="width: 160px; margin-top: 20px; opacity: 0; filter: alpha(opacity:0); position: absolute; left: -500px;"  />
              <label class="likeabutton" id="btnBrowse" style="margin-right: 10px;" for="company_logo">Upload File</label>
                
              <button id="deleteLogo">Delete</button>
              <br />@Html.ValidationMessage("logo")
                  </div>
              <div style="margin-top: 15px;text-align: left; font-size: 0.8em; font-weight: bold; color: navy;">
                  The maximum file size is 100 Kb <br />
                  The aspect ratio for the logo is 200w * 200h
              </div>
          </fieldset>
    
</div>
<div class="clear"></div>
    
            <p>
                    <input type="submit" value="Save" style="margin-right: 5px;" /><button class="btn-action" 
                        data-href="@Url.Action("Details")">Cancel</button>
            </p>
}
