@model IList<DominosCMS.Models.Favorite>

@{
    ViewBag.Title = "Favorites";
}
@section header {
    @Html.Script("jquery-ui-1.8.11.min.js")
    @Html.Css("themes/base/jquery.ui.all.css")
    @Html.Css("tablesorter/themes/blue/style.css")
    @Html.Script("tablesorter/jquery.tablesorter.min.js")
    @Html.Script("tablesorter/jquery.metadata.js")

    <script type="text/javascript">
    $(function () {
        $("table.tablesorter").tablesorter();

    });

    </script>

}
<h2>Favorites</h2>
<div id="favoritesWrapper">
    @{ Html.RenderPartial("_Favorites", Model); }
</div>