@model DominosCMS.Models.Account

@{
    ViewBag.Title = "Control Panel";
    var queue = Model.Company.Queue;
    var customProducts = ViewBag.CustomProducts as IList<DominosCMS.Models.CustomProduct>;
}

@section header {
    @Html.Css("tablesorter/themes/blue/style.css")
    @Html.Css("themes/base/jquery.ui.all.css")
    @Html.Script("jquery-ui-1.8.11.min.js")
    @Html.Script("tablesorter/jquery.tablesorter.min.js")
    @Html.Script("tablesorter/jquery.metadata.js")

    <style type="text/css">
        .disabled {color: gray; text-decoration: none;}
        .order-links {
            white-space: nowrap;
        }

            table.list { font-size: 0.9em;}

            div.error-msg { color: red; }
    </style>    
    @Html.Script("custom_products.js")

    <script type="text/javascript">
        $(function () {

            $("#queueDiv").on("click", "#btnContinue", function (e) {
                e.preventDefault();
                location.href = $(this).attr("data-url");
            });

            $("#queueDiv").on("click", "a", function (e) {
                e.preventDefault();
                var qcount = $("#queueDiv table tr").length - 1;

                var url = $(this).attr("href");
                var order = $(this).attr("data-order");
                if (order == 1 && $(this).is(".move-up")) return;
                if (order == qcount && $(this).is(".move-down")) return;

                $.get(url, null, function (data) {
                    $("#queueDiv").html(data);
                });

            });
            $("table.tablesorter").tablesorter();
        });
    </script>

}

<h2>Control Panel</h2>
<div class="error-msg">
    @ViewBag.Msg
</div>
<div class="cp-section" id="queueDiv" style="float: right; width: 200px; font-size: 10px;">
    @{ Html.RenderPartial("QueueList", Model); }
</div>
<div class="cp-section" style="margin-right: 240px;">
<h4><a href="@Url.Action("Submittals")" style="float: right; margin-right: 45px;">View all</a>Submittals</h4>
    <div id="submittalsWrapper">
@{ Html.RenderPartial("_Submittals", Model.Company.Submittals.OrderByDescending(p => p.ID).ToList().Take(10).ToList()); }
        </div>

<p class="">@Html.ActionLink("Create New Submittal", "Create", "Submittals") </p>
    </div>
<div class="cp-section" style="margin-right: 240px;" id="favoritesWrapper">
    <h4><a href="@Url.Action("Favorites")" style="float: right; margin-right: 45px;">View all</a>Favorites</h4>
    @{ Html.RenderPartial("_Favorites", Model.Company.Favorites.OrderBy(f => f.Product.Title).Take(10).ToList()); }

</div>

<div class="cp-section" style="margin-right: 240px;" id="customWrapper">
    <h4><a href="@Url.Action("CustomProducts")" style="float: right; margin-right: 45px;">View all</a>Custom Products</h4>
    <div id="customProducts">
    @{ Html.RenderPartial("_CustomProducts", customProducts); }
</div>
</div>