@model DominosCMS.Models.Account

    <h4>Submittal Queue</h4>
    @if (Model.Company.Queue.Count == 0) { 
        <p>Your Queue is empty!</p>
    } else {
    using (Html.BeginForm("UpdateQue", "User", FormMethod.Post))
    {
    <table class="list"  align="center">
        <tr>
            <th>
                Products
            </th>
            <th>
                Order
            </th>
            <th>
                Remove
            </th>
        </tr>
        @foreach (var item in Model.Company.Queue.OrderBy(f => f.ViewOrder))
        { 
            if (item.Product != null) {
            <tr>
                <td>

                        <div style="font-weight: bold">@item.Product.Title</div>
                    @if (item.Type == "m") {
                        if (item.Section == null) {
                            <span>Part Undefined</span>
                        } else {
                            <span>@Util.FormatSectionTitle(item)</span>
                        }
                    }
               
                </td>
                <td class="order-links">
                    <a href="@Url.Action("ChangeQueueOrder", new { itemID = item.ID, direction = "up"})" class="move-up" title="Move up" data-order="@item.ViewOrder"></a>
                    <a href="@Url.Action("ChangeQueueOrder", new { itemID = item.ID, direction = "down"})" class="move-down" title="Move down" data-order="@item.ViewOrder"></a> 

                </td>
                <td style="text-align: center">
                    <input type="checkbox" value="@item.ID"  name="queueID" />
                </td>
            </tr>
            }
        }
    </table>
        <div style="text-align: right; margin-top: 25px;">
        <input type="submit" value="Update" />
        <button data-url="@Url.Action("CreateSubmittalFromQueue")" id="btnContinue">Continue</button>
            </div>
    }
    }
