@{
    ViewBag.Title = "Social Media";

    string fb = (string.IsNullOrEmpty(ViewBag.FaceBook) ? "" : ViewBag.FaceBook);
    string tw = (string.IsNullOrEmpty(ViewBag.Twitter) ? "" : ViewBag.Twitter);
    string gp = (string.IsNullOrEmpty(ViewBag.GooglePlus) ? "" : ViewBag.GooglePlus);
    string yt = (string.IsNullOrEmpty(ViewBag.Youtube) ? "" : ViewBag.Youtube);
    string rss = (string.IsNullOrEmpty(ViewBag.Rss) ? "" : ViewBag.Rss);
    string linkedin = (string.IsNullOrEmpty(ViewBag.Linkedin) ? "" : ViewBag.Linkedin);
    string pintrest = (string.IsNullOrEmpty(ViewBag.Pintrest) ? "" : ViewBag.Pintrest);
}
@section actions {
<h2>Social Media</h2>
}

@section header {
    <style type="text/css">
        #mainContent input[type=text] { width: 95%; padding: 5px; color: blue; font-size: 12px;}
    </style>
    }
@using (Html.BeginForm())
{

<table class="frm">
    <tr>
        <th>Facebook Url</th>
        <td>@Html.TextBox("facebook", fb)</td>
    </tr>
    <tr>
        <th>Twitter Url</th>
        <td>@Html.TextBox("twitter", tw)</td>
    </tr>
    <tr>
        <th>Google+ Url</th>
        <td>@Html.TextBox("googlePlus", gp)</td>
    </tr>
    <tr>
        <th>Youtube Url</th>
        <td>@Html.TextBox("youtube", yt)</td>
    </tr>
    <tr>
        <th>RSS Url</th>
        <td>@Html.TextBox("rss", rss)</td>
    </tr>
    <tr>
        <th>LinkedIn Url</th>
        <td>@Html.TextBox("linkedin", linkedin)</td>
    </tr>
    <tr>
        <th>Pintrest Url</th>
        <td>@Html.TextBox("pintrest", pintrest)</td>
    </tr>
    <tr>
        <th></th>
        <td><input type="submit" value="Save" /></td>
    </tr>
</table>
}