@model IEnumerable<DominosCMS.Models.OptOutRequest>

@{
    ViewBag.Title = "OptOuts";
}
@section header {
    @Html.Css("tablesorter/themes/blue/style.css")
}
@section scripts {
    @Html.Script("tablesorter/jquery.tablesorter.min.js")
    @Html.Script("tablesorter/jquery.metadata.js")

    <script type="text/javascript">
        $(function () {
            $("table.tablesorter").tablesorter();
        })
    </script>
    }
@section actions {
    
    <div class="actions-toolbar">
        
    </div>
    <div class="actions-title">
        <h2>Opt-Out Requests</h2>
    </div>
        
}

<h2></h2>

<table class="tablesorter">
    <thead>
    <tr>
        <th>
            RequestDate
        </th>
        <th>
            Email
        </th>
        <th>
            Comments
        </th>
        <th class="{sorter: false}"></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteOptOut", new { id=item.ID })
        </td>
    </tr>
}
</tbody>
</table>
