@model DominosCMS.Models.PhotoAlbum

@{
    ViewBag.Title = "CreateAlbum";
}

 @section header {
    @Html.Css("forms.css")
    @Html.Css("~/_static/js/lib/uploadfy/uploadify.css", true)
    @Html.Css("gallery.css")

}
@section scripts {

    @Html.Script("jquery.unobtrusive-ajax.min.js")
    @Html.Script("jquery.validate.min.js")
    @Html.Script("jquery.validate.unobtrusive.min.js")
    @Html.Script("lib/uploadfy/jquery.uploadify-3.1.min.js")

    <script type="text/javascript">
        $(function () {
            $('#file_upload').uploadify({
                swf: '/_static/js/lib/uploadfy/uploadify.swf',
                uploader: '/gallery/UploadPhotos2',
                fileTypeDesc: "Images",
                fileTypeExts: "*.jpg;*.jpeg;*.bmp;*.png;*.gif",
                // Your options here
                buttonText: '+ Add Photos',
                removeTimeout: 0,
                onUploadSuccess: function (file, data, response) {
                    //alert('The file ' + file.path + ' was successfully uploaded with a response of ' + response + ':' + data);
                    //$("#photos").insertBefore($("#file_upload"))
                    var wrapper = $("<div class='photo-item'></div>");
                    var actions = $(" <div class=\"actions\"></div>");
                    $(actions).append("<a href='@Url.Action("DeletePhoto", "Gallery", new { id = 0})?&filename=" + data + "' title='Delete photo' class='delete-link'><img src='@Url.Content("~/_static/images/icons/deletered.png")' alt='Delete'></a>")
                    $(wrapper).append(actions);
                    $(wrapper).append($("<input type='hidden' value='0' name='photoID' />"));
                    $(wrapper).append($("<input type='hidden' value='" + data + "' name='photourl' />"));
                    $(wrapper).append($("<img src='/gallery/Thumb?filename=" + data + "&height=150' alt='' class='thumb' />"));
                    $(wrapper).append($("<textarea id='photodec' name='photodec' value='' /></textarea>"));
                    //$(wrapper).appentTo();

                    $(wrapper).hover(function () {
                        $(".actions", this).slideDown('fast');
                    }, function () {
                        $(".actions", this).fadeOut('fast');
                    });

                    $("a.delete-link", wrapper).click(function(e){
                        e.preventDefault();
                        
                        var context = this;
                        var url = $(this).attr("href");

                        $.get(url, null, function (data) {
                    
                            if (data == "Success") {
                                $(context).parent().parent().remove();
                            } else {
                                alert("This photo can not be deleted now, please try again later");
                            }
                        });
                    });


                    $("#photos").append($(wrapper));
                }
            });
        });
    </script>
}

<h2>Create Album</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<div>
<div id="albumfrom">
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Album data</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        
        <div class="editor-field">
            <label>@Html.EditorFor(model => model.Visible) Publish album </label> 
            @Html.ValidationMessageFor(model => model.Visible)
        </div>

    </fieldset>
</div>
<div id="photos">


</div>
</div>
<div style="clear:both"></div>
<input type="file" name="file_upload" id="file_upload" />
<div id="toolbar"> 
   <input type="submit" value="Create the Album" class="createbutton"/>
</div>
}


