@model DominosCMS.Models.Banner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Banner</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Details</div>
    <div class="display-field">@Model.Details</div>

    <div class="display-label">Photo</div>
    <div class="display-field">@Model.Photo</div>

    <div class="display-label">ShowInHome</div>
    <div class="display-field">@Model.ShowInHome</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


