@model DominosCMS.Models.SubmittalItem

@{
    Layout = "~/Views/Shared/_members.cshtml";
    var bcode = ViewBag.BuildingCode;
    var vals = Model.Section.Values.Where(v => v.BuildingCode == bcode).OrderBy(v => v.Property.ViewOrder).ToList();
}

@section right {
            <img src="/_static/images/PWAngel.jpg" width="299" height="284" /><br />
            
            <br />
            
}
 <table style="width:100%">
                <tr>
                    <th colspan="3">Product Profile</th>
                </tr>
                <tr class="alt">
                    <td>Leg Length (B)</td>
                    <td class="val-col">@vals[0].Value </td>
                    <td class="val-col">in</td>
                </tr>
                <tr>
                    <td>Gauge</td>
                    <td class="val-col">@vals[1].Value </td>
                    <td class="val-col">ga</td>
                </tr>
                <tr class="alt">
                    <td>Design Thickness (t)</td>
                    <td class="val-col">@vals[2].Value </td>
                    <td class="val-col">in</td>
                </tr>
                <tr>
                    <td>Minimum Steel Thickness (t<sub>min</sub>)</td>
                    <td class="val-col">@vals[3].Value </td>
                    <td class="val-col">in</td>
                </tr>
                <tr class="alt">
                    <td>Unit Weight</td>
                    <td class="val-col">@vals[5].Value </td>
                    <td class="val-col">lbs/ft</td>
                </tr>
@*                <tr>
                    <td>Stock Lengths</td>
                    <td class="val-col">10 </td>
                    <td class="val-col">ft</td>
                </tr>
                <tr class="alt">
                    <td>Packaging</td>
                    <td class="val-col">400 </td>
                    <td class="val-col">pcs/pallet</td>
                </tr>*@
                <tr>
                    <th colspan="3">Material Composition</th>
                </tr>
                <tr class="alt">
                    <td>ASTM Standard</td>
                    <td class="val-col">@vals[6].Value</td>
                    <td class="val-col">&nbsp;</td>
                </tr>
                <tr>
                    <td>Yield Strength (F<sub>y</sub>)</td>
                    <td class="val-col">@vals[7].Value </td>
                    <td class="val-col">ksi (MPa)</td>
                </tr>
                <tr class="alt">
                    <td>Tensile Strength (F<sub>u</sub>)</td>
                    <td class="val-col">@vals[8].Value </td>
                    <td class="val-col">ksi (MPa)</td>
                </tr>
                <tr>
                    <td>Coating Weight</td>
                    <td class="val-col">@vals[9].Value</td>
                    <td class="val-col">&nbsp;</td>
                </tr>


            </table>



@section comments {
    
    <ul>
        <li> 18 mil angle includes knurled legs.</li>
        <li>PrimeWall Angle is produced to meet or exceed ASTM C645, A653, and A1003.</li>
        <li>Galvanized sheet steel meets or exceeds requirements of ASTM A924 & A1003.</li>
    </ul>

}