@model DominosCMS.Models.SubmittalItem

@{
    Layout = "~/Views/Shared/_members.cshtml";

    int columns = Convert.ToInt32(Model.Section.LegLength);
    var bcode = ViewBag.BuildingCode;
    var vals = Model.Section.Values.Where(v => v.BuildingCode == bcode).OrderBy(v => v.Property.ViewOrder).ToList();
}

@section right {

    @if (columns == 1)
    {    
        <img src="/_static/images/sw-column.jpg" width="299"  /><br />
        <img src="/_static/images/sw-column2.jpg"  /><br />
        <p>
            Standard punchouts have a length of 4" and width of 1.5" located along the centerline of the web 24" o.c.	
        </p>
        <p>Typical western punchout spacing 24" from lead end, then 24" o.c.</p>
        <p>Typical eastern punchout spacing 12" from lead end, then 24" o.c.</p>
    } else 
     {
        <img src="/_static/images/sw-column-double.jpg" width="299" /><br />
        <img src="/_static/images/sw-column2.jpg"  /><br />
        <p>Standard punchouts have a length of 4" and width of 1.5" located along the centerline of the web 24" o.c.</p>
        
    }

    

}

<table style="width: 100%">
    <tr>
        <th colspan="3">Product Profile</th>
    </tr>
    <tr class="alt">
        <td>Web Depth (D)</td>
        <td class="val-col">@vals[0].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr>
        <td>Flange Width (B)</td>
        <td class="val-col">@vals[1].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr class="alt">
        <td>Return Lip 1 (d1)</td>
        <td class="val-col">@vals[2].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr>
        <td>Return Lip 2 (d2)</td>
        <td class="val-col">@vals[3].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr class="alt">
        <td>Gauge</td>
        <td class="val-col">@vals[4].Value </td>
        <td class="val-col">ga</td>
    </tr>
    <tr>
        <td>Design Thickness (t)</td>
        <td class="val-col">@vals[5].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr class="alt">
        <td>Minimum Steel Thickness (t<sub>min</sub>)</td>
        <td class="val-col">@vals[6].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr>
        <td>Inside Bend Radius (R)</td>
        <td class="val-col">@vals[7].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr class="alt">
        <td>Punchout Length</td>
        <td class="val-col">@vals[8].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr>
        <td>Punchout Width</td>
        <td class="val-col">@vals[9].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr>
        <th colspan="3">Material Composition</th>
    </tr>
    <tr class="alt">
        <td>ASTM Standard: </td>
        <td colspan="2">@vals[10].Value</td>
    </tr>
    <tr>
        <td>Yield Strength (F<sub>y</sub>)</td>
        <td class="val-col">@vals[11].Value </td>
        <td class="val-col">ksi (MPa)</td>
    </tr>
    <tr class="alt">
        <td>Tensile Strength (F<sub>u</sub>)</td>
        <td class="val-col">@vals[12].Value </td>
        <td class="val-col">ksi (MPa)</td>
    </tr>
    <tr>
        <td>Coating Weight</td>
        <td class="val-col">@vals[13].Value </td>
        <td class="val-col"></td>
    </tr>
    <tr>
        <th colspan="3">Gross Properties</th>
    </tr>
    <tr class="alt">
        <td>Area </td>
        <td class="val-col">@vals[14].Value </td>
        <td class="val-col">in<sup>2</sup></td>
    </tr>
    <tr>
        <td>Unit Weight</td>
        <td class="val-col">@vals[15].Value </td>
        <td class="val-col">(lbs/ft)</td>
    </tr>
    <tr class="alt">
        <td>Moment of Inertia (I<sub>x</sub>)</td>
        <td class="val-col">@vals[16].Value </td>
        <td class="val-col">in<sup>4</sup></td>
    </tr>
    <tr>
        <td>Section Modulus (S<sub>x</sub>)</td>
        <td class="val-col">@vals[17].Value </td>
        <td class="val-col">in<sup>3</sup></td>
    </tr>
    <tr class="alt">
        <td>Radius of Gyration (R<sub>x</sub>)</td>
        <td class="val-col">@vals[18].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr>
        <td>Moment of Inertia (I<sub>y</sub>)</td>
        <td class="val-col">@vals[19].Value </td>
        <td class="val-col">in<sup>4</sup></td>
    </tr>
    <tr class="alt">
        <td>Radius of Gyration (R<sub>y</sub>)</td>
        <td class="val-col">@vals[20].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr>
        <th colspan="3">Torsional Properties</th>
    </tr>
    <tr >
        <td>St. Venant Torsion Constant (Jx1000)</td>
        <td class="val-col">@vals[21].Value </td>
        <td class="val-col">in<sup>4</sup></td>
    </tr>
    <tr class="alt">
        <td>Warping Constant (C<sub>w</sub>)</td>
        <td class="val-col">@vals[22].Value </td>
        <td class="val-col">in<sup>6</sup></td>
    </tr>
    <tr >
        <td>Distance from Shear Center to Neutral Axis (X<sub>o</sub>)</td>
        <td class="val-col">@vals[23].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr class="alt">
        <td>Distance Between Shear Center and Web Centerline (m)</td>
        <td class="val-col">@vals[24].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr >
        <td>Polar Radius of Gyration (R<sub>o</sub>)</td>
        <td class="val-col">@vals[25].Value </td>
        <td class="val-col">in</td>
    </tr>
    <tr class="alt">
        <td>Torsional Flexural Constant (β)</td>
        <td class="val-col">@vals[26].Value </td>
        <td class="val-col">&nbsp;</td>
    </tr>
    <tr>
        <th colspan="3">Effective Properties</th>
    </tr>
    <tr >
        <td>Moment of Inertia for Deflection (I<sub>x</sub>)</td>
        <td class="val-col">@vals[27].Value </td>
        <td class="val-col">in<sup>4</sup></td>
    </tr>
    <tr class="alt">
        <td>Section Modulus (S<sub>x</sub>)</td>
        <td class="val-col">@vals[28].Value </td>
        <td class="val-col">in<sup>3</sup></td>
    </tr>
    <tr >
        <td>Net Section Modulus (S<sub>x (net)</sub>)</td>
        <td class="val-col">@vals[29].Value </td>
        <td class="val-col">in<sup>3</sup></td>
    </tr>
    <tr class="alt">
        <td>Allowable Local Bending Moment (M<sub>al</sub>)</td>
        <td class="val-col">@vals[30].Value </td>
        <td class="val-col">kips-in</td>
    </tr>
    <tr >
        <td>Net Allowable Local Bending Moment (M<sub>al (net)</sub>)</td>
        <td class="val-col">@vals[31].Value </td>
        <td class="val-col">kips-in</td>
    </tr>
    <tr class="alt">
        <td>Allowable Distortional Bending Moment (M<sub>ad</sub>)</td>
        <td class="val-col">@vals[32].Value </td>
        <td class="val-col">kips-in</td>
    </tr>
    <tr >
        <td>Allowable Gross Shear (V<sub>ag</sub>)</td>
        <td class="val-col">@vals[33].Value </td>
        <td class="val-col">lb</td>
    </tr>
    <tr class="alt">
        <td>Net Allowable Shear (V<sub>a (net)</sub>)</td>
        <td class="val-col">@vals[34].Value </td>
        <td class="val-col">lb</td>
    </tr>
</table>



@section comments {
    <ul>
        <li>Section properties and capacities are calculated in accordance with AISI‐NASPEC 2007.</li>
        <li>Tabulated gross properties are based on the full, unreduced cross section of the stud away from punchouts.</li>
        <li>Effective section properties incorporate the strength increase from cold work of forming as applicable per AISI‐NASPEC, Sec. A7.2.</li>
        <li>Net effective section properties are calculated at a cross section through the punchout.</li>
<li>For deflection calculations, use the effective moment of inertia (I<sub>x</sub>). This Ix is calculated at a stress which results in a section modulus such that the stress times the section modulus at that stress is equal to the allowable moment.  AISI S100-07 Procedure I for serviceability determination has been used.</li>
    </ul>
}