@model IEnumerable<DominosCMS.Models.Download>

@{
    ViewBag.Title = "Index";
}

@section actions {
    
    <div class="actions-toolbar">
        <ul>
            <li>
                <a href="#">
                    <img src="@Url.Content("~/_static/images/icons/new.png")" alt="" />
                </a>
            </li>
        </ul>
    </div>
    <div class="actions-title">
        <h2>Downloads</h2>
    </div>
        
}

<table class="list">
    <tr>
        <th>
            ID 
        </th>
        <th>
            Title
        </th>
        <th>
            Type
        </th>
        <th>
            Filename
        </th>
        <th>
            MembersOnly
        </th>
        <th>
            Counter
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MembersOnly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Counter)
        </td>
        <td style="white-space: nowrap">
            <a href="#"><img src="@Url.Content("~/_static/images/icons/edit.jpg")" alt="Edit..." /></a>
            <a href="@Url.Action("Delete", new { id = item.ID })" class="delete-link"><img src="@Url.Content("~/_static/images/icons/delete2.jpg")" alt="Delete..." />
            </a>
        </td>
    </tr>
}

</table>
