@model DominosCMS.Models.Product

@{
    ViewBag.Title = "TSN Product ::: " + Model.Title;

    var sorted_specs = Model.Specifications.OrderBy(s => s.ViewOrder);
}

@section header {
    @Html.Css("themes/base/jquery.ui.all.css")
    @Html.Script("jquery-ui-1.8.11.min.js")

    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();

            $("a.star").click(function (e) {
                e.preventDefault();
                var action = $(this).attr("data-action");
                var url = $(this).attr("href");

                if (!$("#LoggedIn").val())
                {
                    location.href = '@Url.Action("Logon", "Account")' + "?ReturnUrl=" + url + "?action1=" + action;
                    //console.log('@Url.Action("Logon", "Account")' + "?ReturnUrl=" + url + "?action1=" + action);
                    return;
                }


                $(this).addClass("loading");
                var a = this;
                $.get(url, { action1: action }, function (data) {
                    //console.log(data);
                    $(a).toggleClass("star-selected");
                    $(a).removeClass("loading");

                    if (action === "add") {
                        $(a).attr("data-action", "remove");
                        $(a).attr("title", "Click to remove this product from your favorites list");
                    }
                    else {
                        $(a).attr("data-action", "add");
                        $(a).attr("title", "Click to add this product to your favorites list");
                    }
                });
                
            });
        });


    </script>
    <style type="text/css">
        #tabs { 
            padding: 0px; 
            background: none; 
            border-width: 0px; 
        } 
        
        .ui-tabs-nav li
        {
            font-size: 10px;
        }

        .ui-tabs-nav { 
            padding-left: 0px; 
            background: transparent; 
            border-width: 0px 0px 1px 0px; 
            -moz-border-radius: 0px; 
            -webkit-border-radius: 0px; 
            border-radius: 0px; 
        } 

        .ui-tabs .ui-tabs-panel {
            border-width: 1px;
            border-top: none;
        }
        .star {
            width: 25px;
            height: 25px;
            background-image: url(/_static/images/Star-Default.png);
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: text-bottom;
        }

        .star-selected {
            background-image: url(/_static/images/Star-Selected.png);
            
        }

        .loading {
            background-image: url(/_static/images/ajax-loader.gif);
        }

    </style>
    }

    <h2>@Html.Raw(Model.Title.Replace("®", "<sup>®</sup>").Replace("&reg;", "<sup>&reg;</sup>"))
    
        @if  (Model.Type == "m" || Model.Type == "c") {
        if (!Convert.ToBoolean(ViewData["productInFav"]))
           { 
        <a href="@Url.Action("UpdateFavorites", new { id=Model.ID })" class="star" data-action="add" title="Click to add this product to your favorites list">
        </a>
         }
           else
           {
                <a href="@Url.Action("UpdateFavorites", new { id=Model.ID })" class="star star-selected"  data-action="remove"  title="Click to remove this product from your favorites list"></a>

         }
     }


    </h2> 
    <div>
    @Html.Raw(Model.Content) 
    </div>
    <div style="margin: 8px 3px; text-align: right">
        @if (Model.Files.Count > 0) {
            <strong>Downloads:</strong>

            @Html.Partial("_downloads", Model.Files)
        }
    </div>
    <div style="clear:both"></div>

    <div id="tabs">
  <ul>
      @foreach (var item in sorted_specs)
      { 
        <li><a href="#tab-@item.ID">@item.Title</a></li>
      }
  </ul>
      @foreach (var item in sorted_specs)
      { 
        <div id="tab-@item.ID">
            <div style="overflow: auto; min-height: 200px;">
                @Html.Raw(item.Content)
            </div>
            <div class="clear"></div>
        </div>
      }
</div>


@if (User.IsInRole("admin")) {
    @Html.ActionLink("Edit", "Edit", "Products", new { area = "admin", id = Model.ID }, null)
}

@if (User.Identity.IsAuthenticated) { 
    @Html.Hidden("LoggedIn", true)
}
