@model DominosCMS.Web.Models.SubmittalBuilderModel

        <div class="form-line">
            <label>Web Depth:</label>
            @Html.DropDownList("WebDepth", new SelectList(Model.WebDepths, "Key", "Value"), "Select") 
        </div>
        <div class="form-line">
            <label>Leg Length:</label>
            @Html.DropDownList("LegLength", new SelectList(Model.LegLengths, "Key", "Value"), "Select") 
        </div>
        <div class="form-line">
            <label>Mil Thickness (Gauge):</label>
            @Html.DropDownList("MilThickness", new SelectList(Model.MilThickness, "Key", "Value"), "Select") 
        </div>
        <div class="form-line">
            <label>Yeild Strength (ksi):</label>
            @Html.DropDownList("YeildStrength", new SelectList(Model.YeildStrengths, "Key", "Value"), "Select") 
        </div>
        <div class="form-line">
            <label>Coating Weight:</label>
            
             @Html.DropDownList("CoatingWeights", new SelectList(Model.CoatingWeights, "key", "value")) 
        </div>
        <div class="form-line">
            <label>Punchouts:</label>
             @Html.DropDownList("Punchouts", new SelectList(Model.Punchouts, "key", "value")) 
        </div>

<script type="text/javascript">

    $(function () {
        $("#fields select").change(function () {
            updateSections(this);
        });

    });
</script>
