@model DominosCMS.Web.Areas.Admin.Models.EditPageModel

@{
    Layout = "~/Views/Shared/_popup.cshtml";

    ViewBag.Title = "Edit :: " + Model.Page.Title;
}

@section header {
     @Html.Script("pageEdit.js")
    <script type="text/javascript">

        function closeOrRedirect()
        {
            if (parent.$.fancybox) { parent.$.fancybox.close() }
            else {
                location.href = "/Site/" + $("#Url").val();
            }
        }
    </script>
}


<h2>Edit Page</h2>



@using (Ajax.BeginForm("Edit", "Pages", 
        new AjaxOptions 
        { 
            HttpMethod = "Post",
            OnComplete = "closeOrRedirect", 
            LoadingElementId = "updateLoader" 
        }, 
        new { enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary(true)
    <fieldset  id="editPageForm">
        <legend>Page details</legend>

        @Html.HiddenFor(model => model.Page.ID)
        @Html.Hidden("oldUrl", Model.Page.Url, new { @class = "oldUrl" })
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" /> <span id="updateLoader" style="display: none">LOADING...</span>
            <button value="" onclick="javascript:parent.$.fancybox.close();" id="btnCancel">Cancel</button>
        </p>
    </fieldset>
}
