@model DominosCMS.Models.Page

@{
    string photoPath = "";
    if (Model != null)
    {
        photoPath =  System.Configuration.ConfigurationManager.AppSettings["PagesPhotos"] + "/" + Model.SplashPhoto;
    }
}
@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Url)
</div>
<div class="editor-field">
    /@Html.EditorFor(model => model.Url)
    @Html.ValidationMessageFor(model => model.Url)
    <span id="urlMsgWrapper"></span>
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Contents)
</div>
<div class="editor-field rte-fullfeature">
    @Html.EditorFor(model => model.Contents)
    @Html.ValidationMessageFor(model => model.Contents)
</div>

    @Html.HiddenFor(model => model.Visible)


<div class="editor-label">
    @Html.LabelFor(model => model.Keywords)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Keywords)
    @Html.ValidationMessageFor(model => model.Keywords)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.SplashPhoto)
</div>
@if (Model != null && !string.IsNullOrEmpty(Model.SplashPhoto))
{ 
    <a href="@photoPath" target="_blank">
        @photoPath
    </a>
}
else
{ 
    <p style="color: red">No photos selected for this page</p>
}
<div class="editor-field">
    <input type="file" name="photoFile" /> <br />Dimentions 936px * 400px
    @Html.HiddenFor(model => model.SplashPhoto)
    @Html.ValidationMessageFor(model => model.SplashPhoto)
</div>





