@model IEnumerable<DominosCMS.Models.Page>
@using DominosCMS.Web.Helpers;     


<input type="hidden" value="Title" id="current-sort" />

<table class="list" style="width: 100%; margin-top: 20px;">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", null, new { data_orderby = "title", data_source = Url.Action("List"), @class = "sortLink" })
        </th>
        <th>
            @Html.ActionLink("Url", "Index", null, new { data_orderby = "url", data_source = Url.Action("List"), @class = "sortLink" })
        </th>
        <th></th>
    </tr>
        <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
			@item.Title
        </td>
        <td>
			@Html.ActionLink(Url.Action("Details", new { url = item.Url }), "Details", new { url = item.Url }, new { target = "_blank" })
        </td>
        <td style="width: 100px; text-align: center">
        <span class="controls">
            @Html.Hidden("IDs", item.ID)
            @Html.ImageActionLink(Url.Content("~/Content/images/icons/delete2.jpg"), "Delete", Url.Action("Delete", new { id = item.ID }), new { @class = "delete-link" })
            <a class="various" data-fancybox-type="iframe" href="@Url.Action("Edit", new { id = item.ID })">
                <img src="@Url.Content("~/Content/images/icons/edit.jpg")" alt="Edit..." />
            </a>
        </span>
        </td>
    </tr>
    
}
    <//tbody>
</table>
