@model DominosCMS.Models.Page

@{
    Layout = "~/Views/Shared/_popup.cshtml";

    ViewBag.Title = "Create new page";
}
    @Html.Script("lib/fancybox/jquery.fancybox.js?v=2.1.0")

	<!-- Add Button helper (this is optional) -->
    @Html.Css("~/_static/js/lib/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.3", true)
    @Html.Script("lib/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.3")

	<!-- Add Thumbnail helper (this is optional) -->
    @Html.Css("~/_static/js/lib/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.6", true)
    @Html.Script("lib/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.6")

	<!-- Add Media helper (this is optional) -->
    @Html.Css("~/_static/js/lib/fancybox/helpers/jquery.fancybox-media.js?v=1.0.3", true)

<h2>Create new page</h2>

    @using (Ajax.BeginForm("Create", "Pages", 
        new AjaxOptions 
        { 
            HttpMethod = "Post", 
            OnComplete = "javascript:parent.$.fancybox.close()", 
            LoadingElementId = "updateLoader" 
        }, 
        new { enctype = "multipart/form-data" }))
    
    {
    @Html.ValidationSummary(true)
    <fieldset id="createPageForm">
        <legend>Page details...</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" /> <span id="updateLoader" style="display: none">LOADING...</span>
        </p>
    </fieldset>
    }

