@model IEnumerable<DominosCMS.Models.Contact>

@{
    ViewBag.Title = "Contacts";
}

<style type="text/css">
    #contacts td { vertical-align: top; text-align: left}
    #contacts .title { font-weight: bold;}
    #contacts .sub-title { font-size: 0.9em; font-style: italic; }
</style>
<form>
<table id="contacts">

@foreach (var item in Model)
{
    
    <tr>
        <td>
            <input name="contacts" type="checkbox" value="@item.Email" id="@item.ID" />
        </td>
        <td>
            <label for="@item.ID">
                <span class="title">@item.CompanyName (@item.Email)</span>
                <br />
                <span class="sub-title">@item.FirstName @item.LastName</span>
            </label>
        </td>
    </tr>

}


</table>
    </form>