@model DominosCMS.Models.Submittal

@{
    Layout = "~/Views/Shared/_CustomerPortal.cshtml";
    ViewBag.Title = "Create Submittal";
}

@section header {
    
    @Html.Css("forms.css")
    @Html.Script("jquery.validate.min.js")
    @Html.Script("jquery.validate.unobtrusive.min.js")

    @Html.Css("themes/base/jquery.ui.all.css")
    @Html.Script("jquery-ui-1.8.11.min.js")
    @Html.Script("jquery.watermark.min.js")
    <script type="text/javascript">
        $(function () {
            $(".datepicker input").datepicker({
                showOn: "button",
                buttonImage: "/_static/images/icons/calendar.gif",
                buttonImageOnly: true
            });

            $("#btnCancel").click(function (e) {
                e.preventDefault();
                location.href = $(this).attr("data-href");
            });

            $("input.watermark").each(function () {
                var wm = $(this).attr("data-watermark-text");

                $(this).watermark(wm);
            });

            $("#ContactName1").autocomplete({
               
                minLength: 0,
                autoFill: true,
                source: '@Url.Action("GetUserContacts")',
                select: function (event, ui) {
                    $("#ContactName1").val(ui.item.name);
                    $("#ContactEmail1").val(ui.item.email);
                    $("#chkAddToContact1").attr("disabled", "disabled");
                    return false;
                }
                
            }).data('autocomplete')._renderItem = function (ul, item) {
                return $('<li></li>')
                    .data('item.autocomplete', item)
                    .append('<a>' + item.name + '</a>')
                    .appendTo(ul);
            };

            $("#ContactName2").autocomplete({

                minLength: 0,
                autoFill: true,
                source: '@Url.Action("GetUserContacts")',
                select: function (event, ui) {
                    $("#ContactName2").val(ui.item.name);
                    $("#ContactEmail2").val(ui.item.email);
                    $("#chkAddToContact2").attr("disabled", "disabled");
                    return false;
                }

                        }).data('autocomplete')._renderItem = function (ul, item) {
                            return $('<li></li>')
                                .data('item.autocomplete', item)
                                .append('<a>' + item.name + '</a>')
                                .appendTo(ul);
                        };

        });
        
    </script>

    <style type="text/css">

        .datepicker input
        {
            width: auto;
        }

    </style>
}

<h2>Create Submittal</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Project Details</legend>

        <table>
            <tr>
                <td>
            @Html.LabelFor(model => model.Project)<span class="required-symbol">*</span>

                </td>
                <td>
                    <div class="editor-field">
            @Html.EditorFor(model => model.Project)
            @Html.ValidationMessageFor(model => model.Project)
                        </div>
                </td>
            </tr>
            <tr>
                <td>
            @Html.LabelFor(model => model.Location)<span class="required-symbol">*</span>

                </td>
                <td>
                    <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
                        </div>
                </td>
            </tr>
            <tr>
                <td>
            @Html.LabelFor(model => model.Date)<span class="required-symbol">*</span>

                </td>
                <td>
        <div class="editor-field datepicker">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

                </td>
            </tr>
            <tr>
                <td>
            @Html.LabelFor(model => model.BuildingCode)<span class="required-symbol">*</span>

                </td>
                <td>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.BuildingCode, ViewBag.BuildingCodes as SelectList)
            @Html.ValidationMessageFor(model => model.BuildingCode)
        </div>

        <div style="font-style: italic">
            Not sure? <a href="http://www.iccsafe.org/gr/documents/stateadoptions.pdf" target="_blank">Click here</a> for a list of International Codes by State
        </div>

                </td>
            </tr>
            <tr>
                <td>
                    Submitted To
                </td>
                <td>
                    <div class="editor-field">
                    @Html.TextBoxFor(model => model.ContactName1, new { @class = "name-input watermark",style="width:350px;", data_watermark_text = "Name"})
                        @Html.CheckBox("chkAddToContact1")
                        @Html.Label("chkAddToContact1", "Add to Contacts")
                        </div>
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <div class="editor-field">
                    @Html.TextBoxFor(model => model.ContactEmail1, new { @class = "name-input watermark", style="width:350px;" , data_watermark_text = "Email"})
                        </div>
                </td>
            </tr>
            <tr>
                <td>
                    Additional Contact
                </td>
                <td>
                    <div class="editor-field">
                    @Html.TextBoxFor(model => model.ContactName2, new { @class = "name-input watermark", style="width:350px;", data_watermark_text = "Name"})
                         @Html.CheckBox("chkAddToContact2")
                        @Html.Label("chkAddToContact2", "Add to Contacts")
                       </div>
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <div class="editor-field">
                    @Html.TextBoxFor(model => model.ContactEmail2, new { @class = "name-input watermark", style="width:350px;", data_watermark_text = "Email"})
                        </div>
                </td>
            </tr>

            <tr>
                <td>
            @Html.LabelFor(model => model.PreparerName)<span class="required-symbol">*</span>

                </td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreparerName)
            @Html.ValidationMessageFor(model => model.PreparerName)
        </div>

                </td>
            </tr>
            <tr>
                <td>
            @Html.LabelFor(model => model.PreparerCompany)

                </td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreparerCompany)
            @Html.ValidationMessageFor(model => model.PreparerCompany)
        </div>

                </td>
            </tr>

        </table>

        <p>
            <input type="submit" value="Continue" />
            <input type="submit" name="btnSaveForLater" value="Save for later" />
            <button id="btnCancel" data-href="@Url.Action("Index", "User")">Cancel</button> 
        </p>
    </fieldset>
}

