@model IEnumerable<DominosCMS.Models.CustomProduct>
@{
    var submittalCustoms = ViewBag.SubmittalCustoms as int[];
    var index = 1;
}

<h3>Custom Products</h3>

<table class="list" id="customList">
    <tr>
        <th>Product Name</th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    var className = ((index++ % 2) == 0) ? "alternateRow" : "";
    
    <tr class="@className">
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td style="width: 50px; text-align: center">
            @Html.ClipLink(Url.Action("AddCustomToSubmittal", new { prod_id = item.ID }), 
                                Url.Action("RemoveCustomFromSubmittal", new { prod_id = item.ID }), submittalCustoms, item.ID)
@*            <a href="@Url.Action("AddClipToSubmittal", new { prod_id = item.ID })" title="Add clip to submittal" class="add-clip"><img src="@Url.Content("~/Content/images/add.jpg")" /></a>*@
        </td>
    </tr>
}

</table>

