@model DominosCMS.Models.Company

@{
    Layout = "~/Views/Shared/_Popup.cshtml";
    ViewBag.Title = "Edit Submittal Item";
    var submittal_id = (int)ViewBag.SubmittalID;
    var sitem = (int)ViewBag.SubmittalItem;
    var favID = (int)ViewBag.FavoriteItem;
    var type = ViewBag.Type as string;
    var productID = ViewBag.ProductID as string;
}

@section header {
    @Html.Css("themes/base/jquery.ui.all.css")
    @Html.Css("submittalBuilder.css")

    @Html.Script("jquery-ui-1.8.11.min.js")
    <style type="text/css">
        #wrapper { width: 98%;}
    </style>
}
    @Html.Script("submittalbuilder_defind_product.js")

@Html.Hidden("submittal_id", submittal_id)
@Html.Hidden("sitem_id", sitem)
@Html.Hidden("productID", productID)
@Html.Hidden("dtype", type)
@Html.Hidden("favID", favID)

<div>
<h2>Define Product</h2>
</div>
    <div id="tabs">
  <ul>
    <li><a href="#members">Members</a></li>
  </ul>
  <div id="members">
      
      <div id="frm">
      <div class="form-line">
          <label>Member Type:</label>
          @Html.DropDownList("product", ViewBag.ProductsList as SelectList, "Select Member Type", new { disabled="disabled"}) 
      </div>
      
      <div id="fields">


      </div>
    </div>
      <div id="pro_photo">
          <img src=""  id="productImage"  style="max-width: 180px; height: auto; display: none"/>
          
      </div>
      <div id="sections">
          <span style="font-style: italic">To begin, select a product from the dropdown to show a list of all available sections.</span>
      </div>
      <div class="clear"></div>
  </div>
</div>

