@model DominosCMS.Models.Submittal

@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_CustomerPortal.cshtml";

    var signature = string.Format("\n\n\n\n\n{0} \n{1}", ViewBag.SenderName as string, ViewBag.SenderEmail as string);
    var subject = string.Format("Submittal Package for {0}, {1}", Model.Project, Model.Location);

    var contacts = Model.ContactEmail1;
    
    if (!string.IsNullOrWhiteSpace(Model.ContactEmail2))
    {
        contacts += "," + Model.ContactEmail2;
    }
}
@section header {
    @Html.Css("themes/base/jquery.ui.all.css")
    @Html.Script("jquery-ui-1.8.11.min.js")
    @Html.Script("email_submittal.js")
}


<style type="text/css">
    .wideText
    {
        width: 60%;
    }

    #progress { display: none;}
    .ui-dialog-titlebar-close {
      visibility: hidden;
    }

    table.frm th {
        background-color: #fff;
        border: solid 1px #e8eef4;
        color: #000;
    }
</style>
<h2>Submittal Builder</h2>
<p>Send Email</p>
<div id="formDiv">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<table class="frm">
    <tr>
        <th>
            Project Name: 
        </th>
        <td style="font-weight: bold;">
            @Model.Project
        </td>
    </tr>
    <tr>
        <th>
            To: 
        </th>
        <td>
            @Html.TextBox("to", contacts, new { @class = "wideText"}) 
            <a href="#" data-contact-source="@Url.Action("Contacts")" class="select-contacts" title="Select from your contact list">...</a>
            Separate Emails with a comma.
        </td>
    </tr>
    <tr>
        <th>
            From: 
        </th>
        <td>
            @Html.TextBox("from", ViewBag.SenderName as string)
        </td>
    </tr>
    <tr>
        <th>
            Subject: 
        </th>
        <td>
            @Html.TextBox("subject", subject, new { @class = "wideText"})
        </td>
    </tr>
    <tr>
        <th>
            Attachment: 
        </th>
        <td>
            @string.Format("{0}.pdf", Model.Project)
        </td>
    </tr>
    <tr>
        <th>
            Custom Email: 
        </th>
        <td>
            @Html.TextArea("msg", signature, new { @class = "wideText", rows = "7"})
        </td>
    </tr>
    <tr>
        <th>
             
        </th>
        <td>
            @Html.CheckBox("sendCopy") 
            @Html.Label("sendCopy", "Send me a copy")
        </td>
    </tr>
</table>
            <p>
            <input type="submit" value="Send" />
        </p>

}
    </div>

<div id="progress" title="Sending submittal...">
  <p>Please wait while we send your submittal</p>
    <img src="@Url.Content("~/_static/images/loader2.gif")" alt="" />
</div>

