@model DominosCMS.Models.Submittal
@using DominosCMS.Web.Helpers;

@{
    Layout = "~/Views/Shared/_CustomerPortal.cshtml";
    ViewBag.Title = "Submittal preview ::: " + Model.Project;
    var members = Model.Items.Where(i => i.Type == "m").OrderBy(i => i.ViewOrder).ToList();
    var clips = Model.Items.Where(i => i.Type == "c").OrderBy(i => i.ViewOrder).ToList();
    var custom = Model.Items.Where(i => i.Type == "x").OrderBy(i => i.ViewOrder).ToList();
    var reports = Model.Items.Where(i => i.Type == "r").OrderBy(i => i.ViewOrder).ToList();
}

@section header {
    @Html.Css("themes/base/jquery.ui.all.css")
    @Html.Script("jquery-ui-1.8.11.js")
    <script type="text/javascript">
        $(function () {
            $(".btn-action").click(function (e) {
                e.preventDefault();
                if ($(this).attr("id") == "btnPdf") {
                    $("p#pdfLoader").show();

                    setTimeout(function () {
                        $("p#pdfLoader").hide();
                    }, 15000);
                }

                location.href = $(this).attr("data-href");
            });

            $("#btnSave").click(function () {
                //console.log("Save clicked");
                $.ajaxSetup({ cache: false });

                $("#saveDialog").dialog({
                    width: 500,
                    modal: true,
                    buttons: {
                        Confirm: function () {
                            $(this).dialog("close");
                            location.reload();
                        },
                        "Save As": function () {
                            //console.log("Show save as dialog");
                            $("#saveAsDialog").dialog({
                                width: 500,
                                modal: true,
                                buttons: {
                                    Save: function () {

                                        var id = $("#submittalID").val();
                                        var name = $("#submittalName").val();
                                        var url = $("#saveAsUrl").val();

                                        $.post(url, {submittalID: id, newProjectName: name }, function (data) {
                                            if (data.newID > 0) {
                                                location.href = data.url;
                                            } else {
                                                alert("An error occured while processing your request, please try again later");
                                            }
                                        });
                                    },
                                    Cancel: function () { $(this).dialog("close"); }
                                }

                            });
                            }
                    }

                });
              
            });
        })
    </script>
}
    <style type="text/css">
        table.frm th { background-color: transparent; border: solid 1px #e8eef4; color: #000}
        table.list .actions { width: 180px; text-align: center; }
        .btns button { margin: 5px 0px 25px 5px}
    </style>

<div style="float:right">
 <p style="font-style: italic">Don't see what you are looking for?
        <br />
    Request a @Html.ActionLink("special product submittal here", "RequestCustom", "User") </p></div>
<h2>Submittal Builder
</h2>

<p>Submittal Preview</p> 


<table class="frm">
    <tr>
        <th>Project</th>
        <td>@Model.Project</td>

    </tr>
    <tr>
        <th>Location</th>
        <td>@Model.Location</td>

    </tr>
    <tr>
        <th>Date</th>
        <td>@Model.Date.Value.ToShortDateString()</td>

    </tr>
    <tr>
        <th>Building Code </th>
        <td>@Model.BuildingCode</td>

    </tr>

</table>
<p>
@Html.ActionLink("Edit", "Edit", new {id = Model.ID })
    </p>
<h3>Products</h3>

@if (members.Count > 0) {
<fieldset>

    <legend>Members</legend>
    <table class="list">
        @foreach (var item in members)
        {
            <tr>
                <td  style="width: 250px">@Util.SuperScript(item.Product.Title)</td>
                <td>@if (item.Section == null) { 
                        <span>@Html.ActionLink("Define Product", "DefineProduct", new { productID = item.Product.ID, submittalItem=item.ID, submittalID = Model.ID }) </span>
                    } else {
                        <span>@Util.FormatSectionTitle(item)</span>
                    }
                    </td>
                <td class="actions">@Html.ActionLink("Delete", "DeleteItem", new { id = item.ID, submittal_id = Model.ID }) | 
                    @if (item.Section != null) { 
                        @Html.ActionLink("Add to favorites", "AddMembertoFav", new { id = item.Section.ID, submittal_id = Model.ID }) 
                    } else {
                        <a href="javascript:void(0)" style="color: gray">Add to favorites</a>
                    }
                </td>
            </tr>
        }
    </table>
</fieldset>
}
@if (clips.Count > 0) {
<fieldset>
    <legend>Connections</legend>
    <table class="list">
        @foreach (var item in clips)
        {
            <tr>
                <td>@Util.SuperScript(item.Product.Title)</td>
                <td class="actions">@Html.ActionLink("Delete", "DeleteItem", new { id = item.ID, submittal_id = Model.ID }) | 
                    @Html.ActionLink("Add to favorites", "AddtoFav", new { id = item.Product.ID, submittal_id = Model.ID }) 
                </td>
            </tr>
        }
    </table>

</fieldset>
}
@if (custom.Count > 0) {
<fieldset>
    <legend>Custom</legend>
    <table class="list">
        @foreach (var item in custom)
        {
            <tr>
                <td style="width: 200px">
                @if (item.Custom.ProductLine != null) {
                    <span>@Util.SuperScript(item.Custom.ProductLine.Title)</span>
                    }

                    </td>
                <td>@Util.SuperScript(item.Custom.Title)</td>
                <td class="actions">@Html.ActionLink("Delete", "DeleteItem", new { id = item.ID, submittal_id = Model.ID })
                    
                </td>
            </tr>
        }
    </table>

</fieldset>
}
@if (reports.Count > 0)
{

<fieldset>
    <legend>Reports</legend>
    <table class="list">
        @foreach (var item in reports)
        {
            <tr>
                <td>@item.Report.Title</td>
                <td class="actions">@Html.ActionLink("Delete", "DeleteItem", new { id = item.ID, submittal_id = Model.ID })
                    
                </td>
            </tr>
        }
    </table>

</fieldset>
}

<div class="btns">
    <button class="btn-action" data-href="@Url.Action("Builder", new { id = Model.ID })">Add Items</button> 
    <button id="btnPdf" class="btn-action" data-href="@Url.Action("PDF", new { id = Model.ID })">PDF</button> 
    <button id="btnSave">Save</button> 
    <button class="btn-action" data-href="@Url.Action("Email", new { id = Model.ID })">Email</button> 
    <p id="pdfLoader" style="display: none; font-weight: bold">
        <img src="@Url.Content("~/_static/images/ajax-loader.gif")" alt="" />
        Please wait while generating the PDF file...
    </p>
</div>
<div id="saveDialog" title="Save Submittal..." style="display: none; text-align: left">
  <p>
      Please confirm the save, this will overrite the current submittal, Or click Save as to create a new copy.
  </p>
</div>

<div id="saveAsDialog" title="Save as..." style="display: none; text-align: left">
    <div>
        <label for="submittalName">
            Project
        </label>
        @Html.TextBox("submittalName", Model.Project)
        @Html.Hidden("submittalID", Model.ID)
        @Html.Hidden("saveAsUrl", Url.Action("SaveSubmittalAs"))
    </div>

</div>