@model DominosCMS.Models.Submittal
@{
    Layout = null;
    var members = Model.Items.Where(i => i.Type == "m").OrderBy(i => i.ViewOrder).ToList();
    var clips = Model.Items.Where(i => i.Type == "c").OrderBy(i => i.ViewOrder).ToList();
    var custom = Model.Items.Where(i => i.Type == "x").OrderBy(i => i.ViewOrder).ToList();
    var reports = Model.Items.Where(i => i.Type == "r").OrderBy(i => i.ViewOrder).ToList();

    var comp = new DominosCMS.Models.Company();
    int counter = 0;
    var rowclass = "";
    int PageNo =1;
    bool StiffWallExist = false;
    bool AddMorePage=true;    
    
   
}

<!DOCTYPE html>

<html>
<head>
    <title>Render Cover</title>
    @Html.Css("members.css")
    <style type="text/css">
        body { font-size: 12px;}
        .list td { border: none; }
        .header { width:100%;}
        .header h3 { color: #000; font-size: 18px; }
        .header .location { font-weight: bold; font-size:11pt; margin-bottom:0px; }
        .header .project-date { font-size:11pt; }
        .header .logo { line-height: 1.5; padding-top: 7px; width: 120px; }

        .logo { max-width: 290px}
        table.list { width:75%;}
        table.list th { background-color: #3d5c9c; text-align: center; border: 1px solid #000; padding-top: 10px;}
        table.list td {  border: 1px solid #000; }
        table.list td.alt {  background-color: #dce6f1; }
    </style>
</head>
<body style=" padding-top:0px; margin-top:0px;">

    <div style="margin-top: 15px;">
        <table class="header">
            <tr>
                <td>
                    <h1>TSN Product Submittal </h1>
                    <h3>@Model.Project</h3>
                    <p class="location">@Model.Location</p>
                    <p class="project-date">@Model.Date.Value.ToShortDateString()</p>
                    <p class="">Building Code: @Model.BuildingCode</p>
                </td>
                <td class="tsn-inc" style="text-align: right" >
                    <h4 style="font-size:12pt;">The Steel Network, Inc.</h4>
                    <p style="font-size:10pt;">
                        www.steelnetwork.com
                        <br />
                        1‐888‐474‐4876
                    </p>
                </td>
                <td class="logo">
                    <img src="/_static/images/logo.jpg" width="120" />
                </td>
            </tr>

        </table>
        <br />
      

        <br />
        <p style="font-size:11pt;">@Model.ContactName1</p>
        <p style="font-size:11pt;">@Model.ContactName2</p>
        <br />
<h3 style="font-size:11pt;">TSN Products</h3>
                <table class="list" >
                 
           
            @if (members.Count > 0) {
            
                <tr><th colspan="2">Members</th></tr>
               
            }
            @foreach (var item in members)
            {
                // Don't State Unpunched unless the section is an Unpunched
                var punched = (item.Punched) ? ", Punched" : "Unpunched";
                counter++;

                
                
                
                if ((counter % 2) == 0)
                {
                    rowclass = "alt";
                }
                else {
                    rowclass = "";
                }

               
                
                <tr class ="@rowclass">
                    <td ><strong >@item.Product.Title</strong> -  <span class="ClassProductName">@Util.FormatSectionTitle(item)</span></td>
 			<td width="70">
                    
                 Page  @item.PageNo
                     </td>

                </tr>
            }
		
            


            @if (clips.Count > 0)
            {
           <tr><th colspan="2">Connections</th></tr>
            }
            @foreach (var item in clips)
            {
                counter++;
                
                if ((counter % 2) == 0)
                {
                    rowclass = "alt";
                }
                else
                {
                    rowclass = "";
                }
            
                <tr class ="@rowclass">
                    <td><strong class="ClassProductName">@item.Product.Title</strong></td>
			<td width="70">
                       Page  @item.PageNo
                        </td>

                </tr>

               
            }
            @if (custom.Count > 0)
            {
            <tr><th colspan="2">Custom</th></tr>
            }
            @foreach (var item in custom)
            {
                counter++;
                if ((counter % 2) == 0)
                {
                    rowclass = "alt";
                }
                else
                {
                    rowclass = "";
                }
               
                <tr class ="@rowclass">
                    <td><strong class="ClassProductName">@item.Custom.Title</strong></td>
			<td width="70">
                       Page  @item.PageNo
                        </td>


                </tr>
               

            }
            @if (reports.Count > 0)
            {
            <tr><th colspan="2">Reports</th></tr>
            }
            @foreach (var item in reports)
            {
                counter++;
                if ((counter % 2) == 0)
                {
                    rowclass = "alt";
                }
                else
                {
                    rowclass = "";
                }
                
               
                <tr class ="@rowclass">
                    <td><strong class="ClassProductName">@item.Report.Title</strong></td>
			<td width="70">
                        Page  @item.PageNo
                        </td>
                </tr>
                
              
            }
        </table>

        <table>
            <tr>
                <td><h3>Prepared by</h3></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><p>
                        @Model.PreparerName
                        <br />
                        @Model.PreparerCompany
                            <br />
                            <br />
                            <br />
                        @if (!string.IsNullOrWhiteSpace(Model.Company.Logo))
                        {
                            var logoPath = System.Configuration.ConfigurationManager.AppSettings["CompanyLogos"] + "/" + Model.Company.Logo;
                            <div style="page-break-inside: avoid">
                            <img src="@logoPath" alt="" class="logo" />
                                </div>
                        }
                    </p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>




    
    