@model IEnumerable<DominosCMS.Models.Report>
@{
    var submittalReports = ViewBag.SubmittalReports as int[];
    var index = 1;
}



<table class="list" id="reportsList">
    
@foreach (var item in Model) {
@*    if (!string.IsNullOrEmpty(item.GroupName)) { 
        <tr>
            <th colspan="2">
                @item.GroupName
            </th>
        </tr>
    }
    *@ 

    var className = ((index++ % 2) == 0) ? "alternateRow" : "";
    
    <tr class="@className">
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td style="width: 50px; text-align: center">
            @Html.ClipLink(Url.Action("AddReportToSubmittal", new { id = item.ID }), 
                                Url.Action("RemoveReportFromSubmittal", new { id = item.ID }), submittalReports, item.ID)
@*            <a href="@Url.Action("AddClipToSubmittal", new { prod_id = item.ID })" title="Add clip to submittal" class="add-clip"><img src="@Url.Content("~/Content/images/add.jpg")" /></a>*@
        </td>
    </tr>
}

</table>

