@model DominosCMS.Models.Submittal

@{
    ViewBag.Title = "Submittal Progress: " + Model.Project;
    Layout = "~/Views/Shared/_CustomerPortal.cshtml";
    var members = Model.Items.Where(i => i.Type == "m").OrderBy(i => i.ViewOrder).ToList();
    var clips = Model.Items.Where(i => i.Type == "c").OrderBy(i => i.ViewOrder).ToList();
    var custom = Model.Items.Where(i => i.Type == "x").OrderBy(i => i.ViewOrder).ToList();
    var reports = Model.Items.Where(i => i.Type == "r").OrderBy(i => i.ViewOrder).ToList();
}


@section header {
    <style type="text/css">
        html, body {
          min-height: 100%;
        }

        body {
          position: relative;
        }
        .overlay {
           position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          background-color: rgba(0,0,0,1); /*dim the background*/
          opacity: 0.7;
          background-image: url('@Url.Content("~/_static/images/ajax-loader3.gif")');
          background-position: center;
          background-repeat: no-repeat;
          display: none;
        }

        .overlay p {
            text-align: center;
            line-height: 100%;
        }

        td.actions {
            white-space: nowrap;
        }

        table.list {
            font-size: 0.85em;
            width: 100%;
        }

        .complete { color: green; }
        .pending { color: red; }
        .text-center { text-align: center; }
        .col0 { width: 200px;}
        .col1 { width: 280px;}

        .col3, .col4 { width: 55px;}
        .btns button { margin: 5px 0px 25px 5px}
        </style>
    @Html.Css("themes/base/jquery.ui.all.css")
    @Html.Css("tablesorter/themes/blue/style.css")
    @Html.Script("jquery-ui-1.8.11.min.js")
    @Html.Script("tablesorter/jquery.tablesorter.min.js")
    @Html.Script("tablesorter/jquery.metadata.js")
    @Html.Script("view_submittal.js")


}
       <h2>Submittal Progress</h2>
    
<div class="cp-section" style="float: right; width: 200px; font-size: 10px;">
    <h3>Project Details</h3>
    <table class="submittal-details">
        <tr>
            <th>Project</th>
            <td>@Model.Project
                @Html.Hidden("proName", Model.Project)
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>@Model.Location</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>@{
                var dd = (Model.Date ?? DateTime.Now);
                }
                
                @dd.ToShortDateString()</td>
        </tr>
        <tr>
            <th>Building Code</th>
            <td>@Model.BuildingCode</td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>@Model.ContactName1 </td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>@Model.ContactName2 </td>
        </tr>
    </table>
    <p class="btns"><button data-href="@Url.Action("Edit", new { id = Model.ID})">Edit</button></p>
    
        

</div>
    <form action="@Url.Action("View", new { id = Model.ID })" method="post" id="frmSubmittalItems">
<div class="cp-section" style="margin-right: 240px;">
    @if (members.Count > 0) {

        <fieldset>

            <legend>Members</legend>
            <table class="list tablesorter">
                <thead>
                    <tr>
                        <th class="col0">Member name</th>
                        <th class="col1">Products</th>
                        <th class="col2 {sorter: false}">Status</th>
                        <th class="col3 {sorter: false}">Remove</th>
                        <th class="col4 {sorter: false}">Add to Fav.</th>
                        <th class="col4 {sorter: false}">Order</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in members)
                {
                    <tr>
                        <td>@Util.SuperScript(item.Product.Title)</td>
                        <td>@if (item.Section == null) { 
                                <span>@Html.ActionLink("Define Product", "DefineProduct", "Submittals", new { submittal = Model.ID, productID = item.Product.ID, submittalItem = item.ID, type = "s"}, new { @class = "define-section"}) </span>
                            } else {
                                <a href="@Url.Action("EditSection", "Submittals", new { id = item.ID, submittal = Model.ID })" class="define-section"> @Util.FormatSectionTitle(item)</a>
                            }
                            </td>
                        <td>
                            @if (item.Section == null) { 
                                <span class="pending">Pending</span>
                            } else {
                                <span class="complete">Complete</span>
                            }
                       </td>
                        <td class="text-center"><input type="checkbox" value="@item.ID" name="chkDel" /></td>
                        <td class="text-center"><input type="checkbox" value="@item.ID" name="chkFav" /></td>
                        <td class="order-links">
                            <a href="@Url.Action("ChangeOrder", new { itemID = item.ID, direction = "up", submittal = Model.ID, cat = "m"})" class="move-up" title="Move up" data-order="@item.ViewOrder"></a>
                            <a href="@Url.Action("ChangeOrder", new { itemID = item.ID, direction = "down", submittal = Model.ID, cat = "m"})" class="move-down" title="Move down" data-order="@item.ViewOrder"></a> 
                            @Html.Hidden("sItemIDs", item.ID)
                        </td>

                    </tr>
                }
                    </tbody>
            </table>
        </fieldset>
    }
@if (clips.Count > 0) {
        <fieldset>
            <legend>Connections</legend>
            <table class="list tablesorter">
                <thead>
                    <tr>
                        <th class="col0">Connection name</th>
                        <th class="col1 {sorter: false}"></th>
                        <th class="col2 {sorter: false}">Status</th>
                        <th class="col3 {sorter: false}">Remove</th>
                        <th class="col4 {sorter: false}">Add to Fav.</th>
                        <th class="col4 {sorter: false}">Order</th>
                    </tr>
                    </thead>
                <tbody>
                @foreach (var item in clips)
                {
                    <tr>
                        <td>@Util.SuperScript(item.Product.Title)</td>
                        <td>..................</td>
                        <td>
                            <span class="complete">Complete</span>
                        </td>
                        <td class="text-center"><input type="checkbox" value="@item.ID" name="chkDel" /></td>
                        <td class="text-center"><input type="checkbox" value="@item.ID" name="chkFav" /></td>
                        <td class="order-links">
                            <a href="@Url.Action("ChangeOrder", new { itemID = item.ID, direction = "up", submittal = Model.ID, cat = "c"})" class="move-up" title="Move up" data-order="@item.ViewOrder"></a>
                            <a href="@Url.Action("ChangeOrder", new { itemID = item.ID, direction = "down", submittal = Model.ID, cat = "c"})" class="move-down" title="Move down" data-order="@item.ViewOrder"></a> 
                            @Html.Hidden("sItemIDs", item.ID)

                        </td>
                    </tr>
                }
                    </tbody>
            </table>

        </fieldset>
}
    @if (custom.Count > 0) {

        <fieldset>
            <legend>Custom</legend>
            <table class="list tablesorter">
                <thead>
                <tr>
                    <th class="col0">Custom Product</th>
                    <th class="col1 {sorter: false}">Products</th>
                    <th class="col2 {sorter: false}">Status</th>
                    <th class="col3 {sorter: false}">Remove</th>
                    <th class="col4 {sorter: false}">Add to Fav.</th>
                    <th class="col4 {sorter: false}">Order</th>
                </tr>
                    </thead>
                <tbody>
                @foreach (var item in custom)
                {
                    <tr>
                        <td>@item.Custom.Title</td>
                        <td>Special</td>
                        <td>
                            <span class="complete">Complete</span>
                        </td>
                        <td class="text-center"><input type="checkbox" value="@item.ID" name="chkDel" /></td>
                        <td class="text-center"><input type="checkbox" value="@item.ID" name="chkFav" /></td>
                        <td class="order-links">
                            <a href="@Url.Action("ChangeOrder", new { itemID = item.ID, direction = "up", submittal = Model.ID, cat = "custom"})" class="move-up" title="Move up" data-order="@item.ViewOrder"></a>
                            <a href="@Url.Action("ChangeOrder", new { itemID = item.ID, direction = "down", submittal = Model.ID, cat = "custom"})" class="move-down" title="Move down" data-order="@item.ViewOrder"></a> 
                            @Html.Hidden("sItemIDs", item.ID)

                        </td>
                    </tr>
                }
                    </tbody>
            </table>

        </fieldset>
    }

    @if (reports.Count > 0)
{

<fieldset>
    <legend>Reports</legend>
    <table class="list tablesorter">
                <thead>
        <tr>
            <th class="col0">Report</th>
            <th class="col1"></th>
            <th class="col2 {sorter: false}">Status</th>
            <th class="col3 {sorter: false}">Remove</th>
            <th class="col4 {sorter: false}">Order</th>
        </tr>
                    </thead>
        <tbody>
        @foreach (var item in reports)
        {
            <tr>
                <td>@item.Report.Title</td>
                <td>..................</td>
                <td>
                    <span class="complete">Complete</span>
                </td>
                <td class="text-center"><input type="checkbox" value="@item.ID" name="chkDel" /></td>
                <td class="order-links">
                    <a href="@Url.Action("ChangeOrder", new { itemID = item.ID, direction = "up", submittal = Model.ID, cat = "r"})" class="move-up" title="Move up" data-order="@item.ViewOrder"></a>
                    <a href="@Url.Action("ChangeOrder", new { itemID = item.ID, direction = "down", submittal = Model.ID, cat = "r"})" class="move-down" title="Move down" data-order="@item.ViewOrder"></a> 
                            @Html.Hidden("sItemIDs", item.ID)

                </td>
            </tr>
        }
            </tbody>
    </table>

</fieldset>
}

    <p style="text-align: right" class="btns">
<input type="submit" value="Update" />
</p>    
</form>

<p style="text-align: right" class="btns">
    <button data-href="@Url.Action("Builder", new { id = Model.ID})" class="validate">Add Products</button>
    <button data-href="@Url.Action("Index", "User")" class="validate">Save for later</button>
    <button data-href="@Url.Action("Preview", new { id = Model.ID})"  class="validate">Complete </button>
</p>

</div>
<div class="clear"></div>

<div class="overlay"> 
</div>