@{
    Layout = null;
    string uploadDir = ViewBag.UploadDir.ToString();
}
    @Html.Script("jquery-1.7.1.min.js")
    @Html.Script("lib/fileuploader/jquery.fileUploader.js")
    @Html.Script("jquery-ui-1.8.11.min.js")
	<script type="text/javascript">
	    jQuery(function ($) {
	        $('.fileUpload').fileUploader({
	            allowedExtension: 'jpg|jpeg|gif|png|zip|iso|pdf|doc|rar|'
               
	        });
	    });
	</script>

<h2 style="margin-bottom: 15px;">Upload Files to <span style="color: Blue; font-weight: bold">@uploadDir</span></h2>
<div id="main_container">
	<form action="@Url.Action("UploadFiles")" method="post" enctype="multipart/form-data">
		<input type="file" name="filename" class="fileUpload" multiple="" />
		
		<button id="px-submit" type="submit">Upload</button>
		<button id="px-clear" type="reset">Clear</button>
        @Html.Hidden("dir", uploadDir)
	</form>
</div>
