@model IEnumerable<DominosCMS.Models.MenuItem>
@{
    ViewBag.Title = "Website menu manager";
}


@section header {
    @Html.Css("sitemenu_browser.css")
    @Html.Css("jquery.treeview.css")
    @Html.Css("forms.css")
    @Html.Css("themes/base/jquery.ui.all.css")

    @Html.Script("treeview/jquery.treeview.js")
    @Html.Script("jquery-ui-1.8.11.min.js")
    @Html.Script("tsn.treeview.js")
    @Html.Script("jquery.unobtrusive-ajax.min.js")
}
<h2>@Html.ActionLink("Admin", "Admin", "Home") > Website Menu Manager</h2>


<div id="browser">
    <div id="folder">
        @Html.TreeView(Model, Url)
    </div>

    <div id="details">
        <div id="toolbar">
            @Html.ImageActionLink(Url.Content("~/Content/images/icons/new.png"), "Create new menu item", Url.Action("Create"), new { @class = "newOpener"})
            @Html.ImageActionLink(Url.Content("~/Content/images/icons/save.png"), "Save menu order", Url.Action("SortMenuList"), new { @class = "saveOrder" })
            <span id="loader" style="display: none">@Html.Image("spinner", Url.Content("~/Content/images/spinner_small.gif"), "PLEASE WAIT...")</span>
            <div style="display: none" id="addForm" title="Create Menu Item...">
            
            </div>
            @Html.Hidden("ParentID", 0)
        </div>
        <div id="subMenuList">
            @Html.Partial("GetMenuItems", Model)
        </div>
    </div>
</div>
<div style="clear: both"></div>

