@model DominosCMS.Models.Product
@using DominosCMS.Web.Helpers;

@{
    if (Model == null) { return; }

    ViewBag.Title = "_ProductSections";
}

    <p style="text-align: right"><a href="#" id="ImportSections">Import Sections</a> | <a href="#" id="ImportNotes">Import Notes</a></p>
    <div id="import_notes_frm" style="display:none">
                          <fieldset>
                      <legend>Add Notes</legend>
                      @using (Html.BeginForm("AddNotes", "Products"))
                      { 
                          <div class="editor-label">
                              Add Notes (Copy notes and section title columns from excel)
                          </div>
                          <div class="editor-field">
                              @Html.TextArea("notes_data", new { style = "width: 100%; height: 150px;"})
                              @Html.Hidden("pro_id", Model.ID)
                                
                          </div>
                          <p>
                              <input type="submit" value="Submit" class="various" />
                              <span id="Sectionsloader" style="display: none">@Html.Image("spinner", Url.Content("~/_static/images/spinner_small.gif"), "PLEASE WAIT...")</span>

                          </p>
          }
                  </fieldset>
    </div>
      <div id="bulk_sections">
                  <fieldset>
                      <legend>Add sections</legend>
                      @using (Ajax.BeginForm(new AjaxOptions
                      {
                          Url = Url.Action("AddSections"),
                          HttpMethod = "Post",
                          LoadingElementId = "Sectionsloader",
                          OnFailure = "alert('Error occured!')",
                          InsertionMode = InsertionMode.Replace,
                          UpdateTargetId = "sectionsList"
                      }))
                      { 
                          <div class="editor-label">
                              Add Sections (Copy the sections data from the excel and past it here)
                          </div>
                          <div class="editor-field">
                              @Html.TextArea("sectionsList", new { style = "width: 100%; height: 150px;"})
                              @Html.Hidden("pro_id", Model.ID)
                                
                          </div>
                          <div class="editor-field">
                               <label>
                                   @Html.RadioButton("bcode", "2009", true) 
                                   2009
                               </label>    
                               <label>
                                   @Html.RadioButton("bcode", "2006") 
                                   2006
                               </label>    
                          </div>
                          <p>
                              <input type="submit" value="Submit" class="various" />
                              <span id="Sectionsloader" style="display: none">@Html.Image("spinner", Url.Content("~/_static/images/spinner_small.gif"), "PLEASE WAIT...")</span>

                          </p>
          }
                  </fieldset>

      </div>
<a href="#">2009</a> | <a href="#">2006</a>

<div id="sectionsList">
    @{ Html.RenderPartial("_SectionsList", Model); }
</div>
