@model DominosCMS.Models.Section

@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div id="editSection">
<h2>
@Model.Title 
</h2>
@using (Html.BeginForm("EditSection", "Products")) {
    @Html.ValidationSummary(true)

<table class="frm">
    @foreach (var item in Model.Values)
    {
        <tr>
            <th>@item.Property.Title</th>
            <td>
                @Html.TextBox("values", item.Value)
                @Html.Hidden("ids", item.ID)
            </td>
        </tr>
    }
</table>
}
</div>