@{
    ViewBag.Title = "Grid";
}

@section header {
    @Html.Css("jqgrid/redmond/jquery-ui-1.8.2.custom.css")
    @Html.Css("themes/base/jquery.ui.all.css")
    @Html.Css("jqgrid/ui.jqgrid.css")
    @Html.Css("jqgrid/ui.multiselect.css")
}

@section scripts {
    @Html.Script("lib/jqgrid/jquery.layout.js")
    @Html.Script("lib/jqgrid/i18n/grid.locale-en.js")
    <script type="text/javascript">
	    $.jgrid.no_legacy_api = true;
	    $.jgrid.useJSON = true;
    </script>

    @Html.Script("lib/jqgrid/jquery.jqGrid.min.js")
    @Html.Script("lib/jqgrid/jquery.tablednd.js")
    @Html.Script("lib/jqgrid/jquery.contextmenu.js")
    @Html.Script("lib/jqgrid/ui.multiselect.js")

    <script type="text/javascript">
        $(function () {
            jQuery("#list2").jqGrid({
                url: '@Url.Action("ProList")',
                datatype: "json",
                colNames: ['ID', 'Title', 'Url', 'Type', 'Published', 'Action'],
                colModel: [
                    { name: 'ID', index: 'ID', width: 55, align: "center" },
                    { name: 'Title', index: 'Title', width: 400 },
                    { name: 'Url', index: 'Url', width: 400 },
                    { name: 'Type', index: 'Type', width: 50, align: "center" },
                    { name: 'Published', formatter: 'checkbox', index: 'Published', width: 75, align: "center" },
                    { name: 'Action', label: '', sortable: false, align: "center", formatter: 'showlink', formatoptions: { baseLinkUrl: '@Url.Action("Edit")', idName: 'ID' } }
                ],
                rowNum: 30,
                rowList: [10, 20, 30],
                pager: '#pager2',
                sortname: 'Title',
                viewrecords: true,
                sortorder: "desc",
                //caption: "Product List",
                width: '1100',
                height: 'auto',
                jsonReader: { repeatitems: false }
            });
            jQuery("#list2").jqGrid('navGrid', '#pager2', { edit: false, add: false, del: false });
        });
    </script>
    }

@section actions {
    
    <div class="actions-toolbar">
        <ul>
            <li>
                <a class="various" href="@Url.Action("Create")" title="Add new product">
                    <img src="@Url.Content("~/_static/images/icons/new.png")" alt="Add new product" />
                </a>
            </li>
        </ul>
    </div>
    <div class="actions-title">
        <h2>Products Manager</h2>
    </div>
        
}


<table id="list2"></table>
<div id="pager2"></div>