@model IEnumerable<DominosCMS.Models.Product>

@{
    ViewBag.Title = "Products Manager";
    
    var members = Model.Where(p => p.Type == "m");
    var clips = Model.Where(p => p.Type == "c");
    var others = Model.Where(p => p.Type != "c" && p.Type!= "m");
}

@section header {

    @Html.Css("themes/base/jquery.ui.all.css")

    @Html.Css("tablesorter/themes/blue/style.css")
    <style type="text/css">
        td.actions { white-space: nowrap}
        th.url { width: 300px; overflow: hidden}
        th.type { width: 70px; }
        th.visible { width: 70px; }
    </style>
}
@section scripts {
    @Html.Script("tablesorter/jquery.tablesorter.min.js")
    @Html.Script("tablesorter/jquery.metadata.js")

    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
            $("table.tablesorter").tablesorter();
        })
    </script>
    }

@section actions {
    
    <div class="actions-toolbar">
        <ul>
            <li>
                <a class="various" href="@Url.Action("Create")" title="Add new product">
                    <img src="@Url.Content("~/_static/images/icons/new.png")" alt="Add new product" />
                </a>
            </li>
        </ul>
    </div>
    <div class="actions-title">
        <h2>Products Manager</h2>
    </div>
        
}

        <div id="toolbar">
       </div>

<div id="tabs">
  <ul>
    <li><a href="#members">Members</a></li>
    <li><a href="#clips" title="">Connections</a></li>
    <li><a href="#others" title="">Other</a></li>
  </ul>
    
  <div id="members">
<table class="tablesorter">
    <thead>
    <tr>
        <th class="title">
            Title
        </th>
        <th class="url">
            URL
        </th>
@*        <th class="type {sorter: false}">
            Type
        </th>*@
        <th class="visible {sorter: false}">
            Visible
        </th>
        <th class="actions {sorter: false}" ></th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in members) {
    <tr>
        <td>
            @Html.ActionLink(item.Title,"Edit" , new { id = item.ID })
            (@item.Nomenclature)
        </td>
        <td>
            @Html.ActionLink(Url.Action("Index", "ProductsViewer", new { id = item.URL, Area = "" }), "Index", "ProductsViewer", new { id = item.URL, Area = "" }, new { target = "_blank"})
            
        </td>
@*        <td>
            <a href="@Url.Action("SubmittalsData", new { id = item.ID})" title="Click to add submittal information">
                @Util.GetProductType(item.Type)
            </a>
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Visible)
        </td>
        <td class="actions">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) | 
            @Html.ActionLink("Delete", "Delete",new { id = item.ID }, new { @class = "delete-link" }) | 
            @Html.ActionLink("Preview", "Index", "ProductsViewer", new { id = item.URL, Area = "" }, new { target="_blank"}) |
            @Html.ActionLink("Submittals data", "SubmittalsData",   new { id = item.ID }) 
        </td>
    </tr>
}
</tbody>
</table>
      </div>
  <div id="clips">
<table class="tablesorter">
    <thead>
    <tr>
        <th class="title">
            Title
        </th>
        <th class="url">
            URL
        </th>
@*        <th class="type {sorter: false}">
            Type
        </th>*@
        <th class="visible {sorter: false}">
            Visible
        </th>
        <th class="actions {sorter: false}" ></th>
    </tr>
        </thead>
    <tbody>

@foreach (var item in clips) {
    <tr>
        <td>
            @Html.ActionLink(item.Title,"Edit" , new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink(Url.Action("Index", "ProductsViewer", new { id = item.URL, Area = "" }), "Index", "ProductsViewer", new { id = item.URL, Area = "" }, new { target = "_blank"})
            
        </td>
@*        <td>
            @Util.GetProductType(item.Type)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Visible)
        </td>
        <td class="actions">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) | 
            @Html.ActionLink("Delete", "Delete",new { id = item.ID }, new { @class = "delete-link" }) | 
            @Html.ActionLink("Preview", "Index", "ProductsViewer", new { id = item.URL, Area = "" }, new { target="_blank"}) 
        </td>
    </tr>
}
</tbody>
</table>
      </div>
  <div id="others">
<table class="tablesorter">
    <thead>
    <tr>
        <th class="title">
            Title
        </th>
        <th class="url">
            URL
        </th>
@*        <th class="type {sorter: false}">
            Type
        </th>*@
        <th class="visible {sorter: false}">
            Visible
        </th>
        <th class="actions {sorter: false}" ></th>
    </tr>
        </thead>
    <tbody>

@foreach (var item in others) {
    <tr>
        <td>
            @Html.ActionLink(item.Title,"Edit" , new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink(Url.Action("Index", "ProductsViewer", new { id = item.URL, Area = "" }), "Index", "ProductsViewer", new { id = item.URL, Area = "" }, new { target = "_blank"})
            
        </td>
@*        <td>
            @Util.GetProductType(item.Type)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Visible)
        </td>
        <td class="actions">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) | 
            @Html.ActionLink("Delete", "Delete",new { id = item.ID }, new { @class = "delete-link" }) | 
            @Html.ActionLink("Preview", "Index", "ProductsViewer", new { id = item.URL, Area = "" }, new { target="_blank"}) 
        </td>
    </tr>
}
</tbody>
</table>
      </div>

