@model DominosCMS.Models.CustomProduct

@{
    ViewBag.Title = "Custom Product: " + Model.Title;

    var accounts = ViewBag.Accounts as IList<DominosCMS.Models.Account>;
}

@section actions {
    
    <div class="actions-toolbar">
        <ul>
            <li>
                <a class="various" href="@Url.Action("Custom")" title="">
                    Back to custom products
                </a>
            </li>
        </ul>
    </div>
    <div class="actions-title">
        <h2>@Model.Title</h2>
    </div>
        
}


<table class="frm" style="margin-top: 40px;">
    <tr>
        <th>
            Title
        </th>
        <td>
            @Model.Title
        </td>
    </tr>
    <tr>
        <th>
            Type
        </th>
        <td>
            @Model.Type
        </td>
    </tr>
    <tr>
        <th>
            Product Line
        </th>
        <td>
            @Model.ProductLine.Title
        </td>
    </tr>
    <tr>
        <th>
            Expire Date
        </th>
        <td>
            @Model.Expires
        </td>
    </tr>
    <tr>
        <th>
            Tech.Sheet
        </th>
        <td>
            @Model.Filename
        </td>
    </tr>
    <tr>
        <th>
            Drawing File
        </th>
        <td>
            @Model.DrawingFile
        </td>
    </tr>
    <tr>
        <th>
            Assigned to
        </th>
        <td>
            <ul>
            @foreach (var item in accounts)
            {
                <li>- <a href="#">@item.Company.FirstName 
                    @item.Company.LastName 
                    - @item.Email
                    </a>
                </li>
            }
                </ul>
        </td>
    </tr>
</table>