@{
    ViewBag.Title = "Admin";
}

    @Html.Css("admin.css")

@section actions {
    <h2>Admin Control Panel</h2>
}
<ul class="cp">
    <li>
        @Html.ActionLink("Pages", "Index", "Pages", null, new { @class = "pages" })
    </li>
   @* <li>
        @Html.ActionLink("Products", "Index", "Products", null, new { @class = "products" })
    </li>
    <li>
        @Html.ActionLink("Custom", "Custom", "Products", null, new { @class = "products" })
    </li>
    <li>
        @Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "reports" })
    </li>*@
    <li>
        @Html.ActionLink("Site menu", "Index", "SiteMenu", null, new { @class = "site_menu" })
    </li>
    @*<li>
        @Html.ActionLink("Users", "Index", "Members", null, new { @class = "members" })
    </li>*@
   
    @*<li>
        @Html.ActionLink("Inquiries", "Index", "Inquiries", null, new { @class = "forms" })
    </li>*@
   @* <li>
        @Html.ActionLink("Opt-Out Requests", "OptOuts", "Inquiries", null, new { @class = "forms" })
    </li>*@
    <li>
      @*  @Html.ActionLink("Manage Users", "Index", "ManageUsers", null, new { @class = "Users" })*@
      @Html.ActionLink("Manage Users", "../Areas/Admin/ManageUsers/ManageUsers.aspx", "Manage Users" , new { area = ""}, new { @class = "fancybox manage-users", data_fancybox_type="iframe" })
     </li>
    <li>
        @Html.ActionLink("File Manager", "Index", "FileManager", new { area = ""}, new { @class = "fancybox filemanager", data_fancybox_type="iframe" })
    </li>
    <li>
        @Html.ActionLink("Social Networking", "Index", "Config", null, new { @class = "news" })
    </li>
    <li>
        @Html.ActionLink("Change Password", "ChangePassword", "Account", new { area = "" }, new { @class = "pass" })
    </li>
    <li>
        @Html.ActionLink("Log out", "LogOff", "Account", new { area = "" }, new { @class = "logout" })
    </li>

</ul>

<div class="clear"></div>

