@model DominosCMS.Web.Models.EditMenuItemModel

@* This partial view defines form fields that will appear when creating and editing entities *@

@{
    var groups = ViewBag.Groups as List<DominosCMS.Models.Group>;
    var accounts = ViewBag.Accounts as List<DominosCMS.Models.Account>;

    bool isPublic = true;

    if (Model.Item != null && Model.Item.IsPublic != null)
    {
        isPublic = Model.Item.IsPublic.Value;
    }
}


<div class="editor-label">
    @Html.LabelFor(model => model.Item.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Item.Title)
    @Html.ValidationMessageFor(model => model.Item.Title)
</div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Item.Type)
            </div>
            <div class="editor-field" id="MenuType">
                @foreach (var item in Model.MenuTypes)
                 { 
                <label>@Html.RadioButtonFor(model => model.SelectedMenuType, item.Key) <text></text> @item.Value   </label>
                } 
                @Html.ValidationMessageFor(model => model.Item.Type)
            </div>

            <div id="opt1">
                <div class="editor-label">
                    Select target page:
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.SelectedPage, new SelectList(Model.Pages, "Key", "Value"))
                    @Html.ValidationMessageFor(model => model.SelectedPage)
                </div>
            </div>
            <div id="opt2" style="display: none">
                <div class="editor-label">
                    Select Product:
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.SelectedProduct, new SelectList(Model.Products, "Key", "Value"))
                    @Html.ValidationMessageFor(model => model.SelectedPage)
                </div>
            </div>
           <div id="opt3" style="display: none">

            <div class="editor-label">
                @Html.LabelFor(model => model.Item.Url)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Item.Url)
                @Html.ValidationMessageFor(model => model.Item.Url)
            </div>
            
            </div>

          <div id="opt4" style="display: none">
           <div class="editor-label">
                Select target file:
            </div>
            <div class="editor-field">
                    @Html.DropDownListFor(model => model.SelectedDownload, new SelectList(Model.Downloads, "Key", "Value"))
                    @Html.ValidationMessageFor(model => model.SelectedDownload)
                
            </div>
            </div>



<div class="editor-label">
    @Html.LabelFor(model => model.Item.Target)
</div>
<div class="editor-field">
    @foreach (var item in Model.Targets)
        { 
    <label>@Html.RadioButtonFor(model => model.SelectedTarget, item.Key) <text></text> @item.Value   </label>
    } 
    @Html.ValidationMessageFor(model => model.Item.Target)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Item.ViewOrder)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Item.ViewOrder)
    @Html.ValidationMessageFor(model => model.Item.ViewOrder)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Item.CssClass)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Item.CssClass)
    @Html.ValidationMessageFor(model => model.Item.CssClass)
</div>

<div class="editor-field">
    @Html.EditorFor(model => model.Item.Visible)
    <label for="Visible">Visible</label>
</div>

<div class="editor-field" id="chkPublic">
    <label>@Html.CheckBox("Item.IsPublic", isPublic)
        Public
    </label>

</div> 
<div id="securityOptions">
    <div class="editor-field">
    Menu Item Rule:
    @Html.DropDownListFor(x => x.Item.RuleID, new SelectList(Model.Rules, "key", "value"))
</div>

    </div>
<script type="text/javascript">
    $(function () {
        $("#MenuType input").each(function () {
            $(this).change(function () {
                var val = $(this).val();
                var divID = "#opt" + val;
                $("#opt1").hide();
                $("#opt2").hide();
                $("#opt3").hide();
                $("#opt4").hide();
                $(divID).show("slow");
                console.log(val);

            });
        });

        var val = $("#MenuType input:checked").val();
        var divID = "#opt" + val;
        $("#opt1").hide();
        $("#opt2").hide();
        $("#opt3").hide();
        $("#opt4").hide();
        $(divID).show();

    });
        
</script>
