@model DominosCMS.Models.MenuItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MenuItem</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Url</div>
    <div class="display-field">@Model.Url</div>

    <div class="display-label">Type</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Type).ToString()</div>

    <div class="display-label">Visible</div>
    <div class="display-field">@Model.Visible</div>

    <div class="display-label">Parent</div>
    <div class="display-field">@(Model.Parent == null ? "None" : Model.Parent.Title)</div>

    <div class="display-label">Target</div>
    <div class="display-field">@Model.Target</div>

    <div class="display-label">SubMenus</div>
    <div class="display-field">@(Model.SubMenus == null ? "None" : Model.SubMenus.Count.ToString())</div>

    <div class="display-label">ViewOrder</div>
    <div class="display-field">@Model.ViewOrder</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


