@model DominosCMS.Web.Models.EditMenuItemModel

<div style="text-align: left">

    @Html.Script("pageEdit.js")

@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "Post",
    LoadingElementId = "loaderEdit",
    OnSuccess = "closePopup()",
    OnFailure = "alert('Error occured!')"
}))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>MenuItem</legend>

        @Html.HiddenFor(model => model.Item.ID)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" /> <span id="loaderEdit" style="display:none">@Html.Image("spinner", Url.Content("~/_static/images/spinner_small.gif"), "PLEASE WAIT...") Please wait...</span>
        </p>
    </fieldset>
}

</div>