@model IEnumerable<DominosCMS.Models.MenuItem>

<ul id="menu">

    @foreach (var item in Model)
    {
        <li>
        
        @switch (item.Type)
        {
            case DominosCMS.Models.MenuType.Page:
                {
                    Html.ActionLink(item.Title, "Details", "Pages", new { id = item.Url });

                    SubMenu(item);
                    break;
                }
            case DominosCMS.Models.MenuType.External:
                {
                    <a href="@item.Url">@item.Title</a>
            
                    @SubMenu(item);

                                  break;
                }
            case DominosCMS.Models.MenuType.Download:
                {
                    <a href="@item.Url">@item.Title</a>
            
                    @SubMenu(item);

                                  break;
                }
        }
        </li>
    }
</ul>


@helper SubMenu(DominosCMS.Models.MenuItem item)
    {
    
        if (item.SubMenus != null && item.SubMenus.Count > 0)
        {
        <ul>

            @foreach (var subItem in item.SubMenus.OrderBy(x => x.ViewOrder))
            {
                <li>@Html.ActionLink(subItem.Title, "Index", "Home") <text></text>
                    @SubMenu(subItem)
                </li>
            }
        </ul>
        }
    
}
